@CHARSET "UTF-8";
html{
	font-size:10px;
	color:#333;
	width:100%;
	
}
body{
	font-size:1.2rem;
	width:100%;
	
}
/* 基础元素的样式 */
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:none;
}
a.highlight{
	color:#0E7CC9;
	cursor:pointer;
}
.tableLayout{/*table布局 */
	border-collapse:separate;
	font-size:1.2rem;	/*1rem=12px;  */
	margin:0 auto;
}

/* input textarea select 用户体验效果  */
/* input[type="text"]:focus,select:focus,textarea:focus{
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
} */
input[readonly]:focus,
input[disabled]:focus,
select[disabled]:focus,
select[disabled]:focus{
    box-shadow: none;
    border-color:#ddd;
    
}
input[readonly],input[disabled],select[disabled],select[disabled]{/*只读的input*/
	background:rgba(246, 246, 246, 0.42);
	cursor:not-allowed;
	color:#777;
}
input[type="text"].whiteInp{/*白色输入框 */
	cursor:pointer;
}
select{
	cursor:pointer;
	
}

/* 本页面 “按钮” 的基础样式 */		
.aBtn{
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:27px;
	border-radius:16px;
	text-align:center;
	padding:0 20px;
	border:1px solid #0E7CC9;
	margin-right:5px;
	font-size:13px;
}
.search{
	color:#fff;
	background:#0E7CC9;
}
.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}

/*本页面样式  */
*{	
	box-sizing:border-box;
}
div.chufangContainer{			/* 处方单页面容器*/
	padding-left:20px;
}
.chufangContainer .layoutDiv{
	
}
.titleText{	/* 1rem=10px; */
	box-sizing: border-box;
    color: #373737;
    font-family: "Microsoft YaHei";
    height: 46px;
    position: relative;
}
span.title{
	font-size: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    display: block;
    margin-top: 16px;
}
.tableBox{
	
}
.dynamicDiv{
	
	margin-bottom:10px;
	
}
.staticDiv{	/*查询条件   */
	border:1px solid #ddd;
	margin-left: 20px;
}
.staticDiv:before,.staticDiv:after{	/*查询条件   */
	content:"";
	display:block;
	clear:both;
}
.staticDiv .staticDivTitle{
	margin:.3rem 0.1rem 0;
}
.staticDiv .staticDivContent{
	margin:0 0.1rem 1.2rem;
	
}
.staticDivTitle .queryCondition{ /* 查询条件 文本字样 */
	display:inline-block;
	width:10rem;
	height:2.8rem;
	line-height:2.8rem;
	background:#0E7CC9;
	color:#fff;
	padding:0 1rem;
	text-align:center;
	font-size:1.4rem;
}
.staticDivTitle .recordNumber{	/* 查询记录数*/
	display:inline-block;
	height:2.8rem;
	line-height:2.8remx;
	color:#0E7CC9;
	padding-left:1rem;
}
.staticDivContent{
	position:relative;
}
.staticDivContent table{
	
}
.staticDivContent table tr{
	height:4rem;
}
.staticDivContent input[type="text"],.staticDivContent select{/* 选项中的input与select控件 */
	width:10rem;
}
.staticDivContent input.birthDate{/* 两个时间选项的样式 */
	cursor:pointer;
}
.staticDivContent span.commonText{	/*文本 */
	display:inline-block;
	height:2.8rem;
	line-height:2.8rem;
	color:#333;
	padding-left:3rem;
}
.staticDivContent a.advancedOption{/* 高级选择 */
	color:#0E7CC9;
	cursor:pointer;
}
.staticDivContent input[type="text"].fuzzyQueryInp{/*模糊查询输入框  */
	margin-left:5.8rem;
	width:22rem;
}
.staticDivContent span.fuzzyQueryText{
	color:#FD6303;
}
.staticDivContent div.btnGroup{
	position:absolute;
	bottom:5px;
	right:10px;
}