@CHARSET "UTF-8";
body{
    border-radius:3px;
	margin-top:20px;
	border:1px solid #ddd;
	overflow-y:auto;
	height:368px;
}
.ztree{
	height: 330px;
    overflow-y: auto;
}
.chooseDept{/* 选择部门字样 */
	height:29px;
	line-height:29px;
	color:#fff;
	font-size:14px;
	background:#00A6C0 ;
	margin:0;
	padding-left:10px;
	font-weight:bold;
	text-align:center;
}