@CHARSET "UTF-8";
#table{
	/* table-layout:auto; */
}
.fixed-table-container{
	background:#00A6C0;
	
}
.fixed-table-body{
	background:#fff;
	/* margin-top:-0.5px; *//*微调右侧滚动条的上间距  */
}
.fixed-table-container thead th .sortable{/*覆盖样式 表头右边距导致无法居中的问题  */
	padding-right:8px;
}