@CHARSET "UTF-8";
.titleText{/* 权限管理 */
	height:40px;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	background:#fff;
	/* border-bottom:1px solid #ddd; */
}
.layui-tab{
	margin-top:0;
	margin-bottom:0;
}
.layui-tab-content{
	overflow:hidden;
}