/*信息栏*/
/* modify by liujs 
.infoFormWrap .infoHd{padding: 0 20px;line-height:30px;font-family:"Microsoft YaHei";font-size:14px;color: #FFFFFF;background: #0e7cc9;}
.infoFormWrap .infoBd .formInner{margin:0 20px;padding:20px 0;border-top: solid 1px #b4b4b4;overflow: hidden;}
.infoFormWrap .infoBd .hasPhoto{padding-right: 100px;}
.infoFormWrap .infoBd .formInner:first-child{border-top: none;}
.infoFormWrap .infoBd .hasPhoto .photoBox {float: right; margin-right: -90px;}
.hasPhoto .photoBox .radiosBox label{margin-left:10px;color: #333;}
.hasPhoto .photoBox .radiosBox label:first-child{margin-left: 0px;}
.hasPhoto .photoBox .radiosBox label input[type=radio]{margin-right:5px;vertical-align: -3px;*vertical-align: 0;}
.infoFormWrap .infoBd .formInner .kv{float: left;margin:0 25px 0px 0;}
.infoFormWrap .infoBd .formInner .kv .kv-v{width: 70px;}
.infoFormWrap .infoBd .formInner .kv.rowKv{float: none;margin-right: 0;clear: both;}
.infoFormWrap .infoBd .formInner .kv.rowKv .kv-v{width: 80%;} */


/*信息栏*/
.infoFormWrap .infoHd{padding: 0 20px;line-height:30px;font-family:"Microsoft YaHei";font-size:14px;color: #FFFFFF;background: #0e7cc9;}
.infoFormWrap .infoBd .formInner{margin:0 20px;padding:20px 0;border-top: solid 1px #b4b4b4;overflow: hidden;}
.infoFormWrap .infoBd .formInner:first-child{border-top: none;}
.infoFormWrap .infoBd .hasPhoto .photoBox {float: right; margin-right: -90px;}
.hasPhoto .photoBox .radiosBox label{margin-left:10px;color: #333;}
.hasPhoto .photoBox .radiosBox label:first-child{margin-left: 0px;}
.hasPhoto .photoBox .radiosBox label input[type=radio]{margin-right:5px;vertical-align: -3px;*vertical-align: 0;}
.infoFormWrap .infoBd .formInner .kv{float: left;width:50%;}
.infoFormWrap .infoBd .formInner .kv .kv-v{width: 20%;}
.infoFormWrap .infoBd .formInner .kv.rowKv{float: left;clear: both;width:100%;}
.infoFormWrap .infoBd .formInner .kv.rowKv .kv-v{width: 80%; display:inline;}

.infoFormWrap .infoBd .formInner .kv1{float: left;width:33%;}
.infoFormWrap .infoBd .formInner .kv1 .kv-v{width: 20%;}


.infoFormWrap .infoBd .formInner .kv5{float: left;width:50%;}
.infoFormWrap .infoBd .formInner .kv5 .kv-v{width: 20%;}
.infoFormWrap .infoBd .formInner .kv5.rowKv{float: left;clear: both;width:100%;}
.infoFormWrap .infoBd .formInner .kv5.rowKv .kv-v{width: 80%; display:inline;}

