.infoHd,.tableHeader {
	padding: 0 20px;
	line-height: 30px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #FFFFFF;
	background: #00A6C0;
}

.foot-buttonBar {
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	border-top: solid 1px #00A6C0;
}
/*wl鏍峰紡淇敼鈥斺�鈥斺�鈥斺�寮�  */
/* .aBtn{
	display: inline-block;margin-right:10px;
	padding: 0 30px;height: 28px;line-height: 28px;
	border: solid 1px #0e7cc7;border-radius:15px;
	color: #0e7cc7;
} */
.aBtn {
	display: inline-block;padding:0 15px;margin-right:10px;
	height: 28px;line-height: 28px;box-sizing:border-box;
	border: solid 1px #0e7cc7;border-radius:16px;
	color: #0e7cc7;text-align:center;
}

@media ( max-width : 500px) {
	.buttonBar {
		width: 300px;
		margin: 0 auto;
	}
	.aBtn {
		margin-right: 40px;
		margin-top:10px;
	}
}
.search {
	color: #fff;
	background: #117cca;
	text-decoration: none;
}
.aBtn:hover {
	color: #fff;
	background: #117cca;
	text-decoration: none;
}
/*wl */
.infoBd {
	padding: 0 10px 10px;
	font-size: 12px;
}

.formBox {
	overflow: hidden;
	padding: 20px 0;
}

.infoBd .kv {
	float: left;
	margin: 0 25px 10px 0;
}

.infoBd .kv.singleKv {
	width: 100%;
	clear: both;
}

.infoBd .kv.singleKv textarea {
	width: 400px;
}

.kv>label {
	margin-right: 10px;
	margin-bottom: 0;
}

.infoBd .kv input[type=text],.infoBd .kv select {
	width: 152px;
}

/* .tableBox{border: solid 1px #00A6C0;} */
.tableHeader {
	padding: 0;
}

.tableHeader>span {
	display: inline-block;
	padding: 0 15px;
	height: 100%;
	background: #ff6100;
}

#container_record {
	padding: 10px;
}

#container_record .infoBd {
	border: solid 1px #00A6C0;
	padding: 10px;
	border-radius:5px;
}

#container_record .tableBox {
	margin-top: 15px;
}

.listBox {
	position: relative;
	padding: 1px 1px 1px 31px;
	margin-top: 10px;
	border: solid 1px #00A6C0;
	border-radius:3px;
}

.listBox:first-child {
	margin-top: 0;
}
/*.listBox:nth-child(even){border-color: #e57811;}*/
.listBox .number {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 30px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background: #00A6C0;
}
/*.listBox:nth-child(even) .number{background: #e57811;}*/
.listBox .number>span {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -10px;
}

.listBox .listHd {
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	color: #333;
} /* background: #f0f0f0; */
.listBox .listHd>span {
	margin-right: 30px;
}

.listBox .listBd {
	padding: 5px 10px 0;
	overflow: hidden;
}

.listBox .listBd .kv {
	float: left;
	margin: 0 10px 0 0;
}

.listBox .listBd .kv:first-child {
	width: 150px;
}

#container_record .tableHeader {
	padding-left: 20px;
}

#centerWrap .tableHeader {
	text-align: center;
}

#centerWrap .buttonBar {
	margin-top: 15px;
	/* margin-top:20px; */
	text-align: center;
}

.fixed-table-container {
	border-radius: 0;
	font-size: 12px;
}

.fixed-table-body {
	margin-top: -1px;
}

.fixed-table-header {
	margin-right: 0 !important;
	border-bottom: none;
	color: #333;
	font-weight: normal;
	background: #00a6c0;
}

.table-striped>tbody>tr:nth-child(odd) {
	background: #eef9fe;
}

.table-striped>tbody>tr {
	background: #FFF;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	border-top: none;
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td
	{
	
} /* padding: 0px 0px; */
#table td span.time {
	display: inline-block;
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#table td span.name {
	display: inline-block;
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}