
body {
	font-size: 12px;
	overflow: auto;
	/* min-width: 1400px; */
}

#header {
	/* overflow: hidden; */
	height: 50px;
	min-width: 1024px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	background: #00A6C0;
	position:relative;
}

#mainWrap {
	margin-left: 145px;
}
.infoBox span.userImg{/*婢舵潙鍎氭禒銉ㄥ剹閺咁垳娈戣ぐ銏犵础鐏炴洜銇�*/
	height: 40px;
    width: 30px;
    line-height: 50px;
    float: left;
    margin-right: 2px;
    cursor:pointer;
    background: url(../../image/kqdsFront/img/iconLvUp.png) -93px 10px no-repeat;
}
.sideBar {
	/* float: left; */
	position:absolute;
	top:50px;
	left:0;
	width: 145px;
	/* margin-left: -145px; */
	background: #FAFAFB;
	overflow-y: auto;
	border-right:1px solid #dedede;
}
/**/
#header .infoBox {
	float: right;
	margin: 0 20px 0 0;
	/* line-height:50px; */
	color:#D6E7FC;
	position:relative;
}

.infoBox span{
	line-height:50px;
	/* margin-right:0px; */
}
.LvUpTopIcon{
	display: inline-block;
	background:url("../../image/kqdsFront/img/kqdsUpIcons.png") no-repeat ;
}
.todaywork-tip-icon.LvUpTopIcon{
	background-position:-310px -192px;
}
.system-tip-icon.LvUpTopIcon{
	background-position:-284px -192px;
}
.exit-icon.LvUpTopIcon{
	background-position: -338px -193px;
}
.onlinePersonIcon{
	display:inline-block;
	background:url("../../image/kqdsFront/img/kqdsUpIcons3.png") no-repeat ;
	background-position: -311px -98px;
}
.wxTopIcon{
	display:inline-block;
	background:url("../../image/kqdsFront/img/kqdsUpIcons3.png") no-repeat ;
	background-position: -338px -98px;
}
#header .infoBox ul {
	float: right;
	line-height: 50px;
}

#header .infoBox ul li {
	position: relative;
	float: left;
	margin-right: 14px;
	color: #D6E7FC ;
	cursor: pointer;
}

#header .infoBox ul li .hc-icon {
	margin-right: 10px;
	vertical-align: -5px;
	*vertical-align: -2px;
}

#header .infoBox ul li .notRead {
	display: block;
    position: absolute;
    left: 11px;
    top: 2px;
    height: 16px;
    padding: 0 6px;
    border-radius: 10px;
    line-height: 16px;
    font-size: 12px;
    background: #fff;
    color:#00a6c0;
}

#header .header-main {
	float: left;
	padding: 6px 0 0 5px;
	height:50px;
	position:relative;
}

#header .header-main .logoText {
	display: block;
	float:left;
	width: 145px;
	height: 36px;
    background: url(../../image/kqdsFront/img/iconLvUp.png) no-repeat -135px -20px;
	cursor:pointer;
	margin-top: 2px;
}

.searchWrap {
	position: relative;
	float: left;
	height: 26px;
	width: 195px;
	margin: 12px 0px 0 15px;
	padding: 0 10px 0 15px;
	border-radius: 16px;
	background: #028599;
}
@media screen and (max-width:1380px){
	.searchWrap{
		width:180px;
	}
}
@media screen and (max-width:1250px){
	.searchWrap{
		width:130px;
	}
}
.searchWrap input[type=text] {
	width: 100%;
	height: 26px;
	line-height: 26px;
	border: none;
	color:white;
	background: transparent;
	padding-left:0;
	padding-right:24px;
}
.searchWrap input[type=text]::-webkit-input-placeholder {
	/* placeholder妫版粏澹�  */
	color: white;
  	/* placeholder鐎涙ぞ缍嬫径褍鐨�  */
	font-size: 12px;
	/* placeholder娴ｅ秶鐤�  */
	
}
.searchWrap .searchblueBtn {
    position: absolute;
    right: 12px;
    top: 5px;
    /* background: url(../../image/kqdsFront/img/iconLvUp.png) -3px -5px no-repeat; */
    background: url(../../image/kqdsFront/img/iconLvUp.png) -7px -33px no-repeat;
}
/**/
.searchPanle {
	position: absolute;
	padding: 0px 0 10px 0;
	width: 968px;
	border: solid 1px #ddd ;
	box-shadow: 1px 2px 4px 2px rgba(112, 167, 206, .3);
	background: #FFFFFF;
	font-size: 12px;
	border-radius:5px;
	overflow:hidden;
}
#closeInfoDiv{/*閸忔娊妫撮幐澶愭尦  */
	position: absolute;
    top: 3px;
    right: 2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.searchPanle li {
	padding: 5px 20px 5px 90px;
	margin: 0 0 5px 0;
	color: #666;
}

.searchPanle li:hover {
	background: rgba(221, 221, 221, 0.27);
	/* color: #ffff; */
	
}

.searchPanle li>label {
	display: inline-block;
	float: left;
	margin-left: -70px;
	padding: 0 20px;
	height: 25px;
	color: #FFFFFF;
	line-height: 25px;
	border-radius: 15px;
}

/* .searchPanle li>.text {
	display: inline-block;
	max-width: 300px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
} */
.searchPanle li>.text {
	display: inline-block;
	max-width: 90%;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
}	

#infoul>li:hover{/* 閹兼粎鍌ㄦい鐢告桨 閺勫墽銇氱亸蹇斿 */
	cursor:pointer;
}

#infoul{/* 閹兼粎鍌ㄩ棃銏℃緲閻ㄥ増l  娑撳娼伴惃鍕槨娑擄拷娑撶尟i娑撹桨绔撮弶鈥蹭繆閹拷*/
	
}
#infoul>li{
	clear:both;
	overflow:hidden;
	box-sizing:border-box;
	padding-right:5px;
	position:relative;
}
#infoul label{
	margin-bottom:0;
	display:block;
	float:left;
}
#infoul .text{
	float:left;
	height:25px;
	line-height:25px;
}
#infoul p{
	margin:0;
	width:100%;
	height:25px;
	line-height:25px;
	text-overflow:ellipsis;
	text-align:justify;
}
#infoul span{
	text-overflow:ellipsis;
}
#infoul li>span.text:nth-child(3){
	text-overflow:ellipsis;
	margin-left:20px;
	text-align:justify;
	position:absolute;		
}
#infoul li{
	margin:0;
   	padding: 10px 20px 10px 90px;
}
#infoul li span{
	font-size:16px;
}
.describeLabel {
	background: #0e7cc9;
} /*濞寸姴顑囩划锟�*/
.languageLabel {
	background: #fb9502;
} /*閻犲洦绻嗛锟�*/
.otherLable {
	background: #00A6C0;
} /*闁稿繑婀圭划锟�*/

/*濞戞捁顔婄紞锟�*/
/*.sideBar ul li{height: 76px;border: solid 1px #0e7cc9;color:#FFF;text-align:center;font-family:"Microsoft YaHei"; font-size:14px;background: #0e7cc9;cursor: pointer;}
.sideBar ul li:hover{background:#0b5b92;border-color: #0b5b92;}
.sideBar ul li.current{border-color: #f59b06;background: #fd6303;}
.sideBar ul li > .hc-icon{display: block;margin: 12px auto 8px;}
.mainContainer{height: 100%;}*/
.sideBar ul li .hc-icon {
	vertical-align: -8px;
	*vertical-align: -5px;
	margin-right: 5px;
}

.sideBar ul li .item {
	position:relative;
	padding: 0 4px;
	height: 38px;
	
	line-height: 38px;
	font-size: 16px;
	text-align:center;
	font-family: "Microsoft YaHei";
	color: #0E0E0E;
	cursor: default;
}

.sideBar ul li .subChild {
	display: none;
}

.sideBar ul li .subChild li {
	/* padding: 0 10px 0 25px; */
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	
}

.sideBar ul li .subChild li a {
	display: block;
    width: 100%;
    height: 100%;
    color: #0e0e0e;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    padding-left: 41px;
}

.sideBar ul li .subChild li:hover {
	/* background: #0a68a8; */
}

.sideBar ul li .subChild li.current {
	background: #00a6C0;
	
}
.sideBar ul li .subChild li.current a{
	color:#fff;
	
}
.sideBar ul li.unfold .item {
	/* background: #FAFAFB; */
	color:#00a6c0;
}

.sideBar ul li.unfold .subChild {
	display: block;
}

#menuul li .notRead {
	display: block;
	position: absolute;
	left: 16px;
	top: -5px;
	height: 20px;
	padding: 0 6px;
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	background: #fa6406;
}
@font-face
{
    font-family: FontAwesome;
    src: url('../fonts/fontawesome-webfont.ttf'),
    url('../fonts/fontawesome-webfont.eot'); /* IE9 */
}
.nowstate{
	
	/* float:right; */
	display:inline-block;
	position:relative;
}
#header #choiceState{
	display:none;
	float:none;
	background:#fff;
	position:absolute;
	top:13px;
	left:-1px;
	margin-bottom:0;
}
#header #choiceState li{
	
	margin-right:0;
	float:none;
	/* width:40px;
	height:30px;
	line-height:30px; */
	background:#00A6C0;
	
	overflow:hidden;
}
#choiceState .textItem{
	/* padding-left:8px; */
	
}
#header #choiceState li:hover{
	background:#A9ECC7;
	color:#313840;
}
#header #choiceState li span{
	margin-right:0;
	width:34px;
	height:24px;
	display:block;
	float:left;
	line-height:24px;
	text-align:center;
}
.choiceItem{
	font-family: 'FontAwesome';
	float:right;
	width:24px;
	height:30px;
	line-height:30px;
	font-size:15px;
	text-align:center;
}
.icon{  /*瀹革缚绗傜憴锟� 鏉╂柨娲栭崶鐐垼*/
	font-family: 'FontAwesome';
    display:inline-block;
    width:25px;
    height:35px;
    line-height:35px;
    font-size:20px;
}
.icon-leftArrow:before {     /*瀹革缚绗傜憴锟� 鏉╂柨娲栭崶鐐垼*/
    content: '\f2c0';
}
.icon-leisure:before {
	content: '\f0f4';
}
.icon-busy:before {
	content: '\f056';
}
.icon-leave:before {
	content: '\f08b';
}
.weixinIcon{
	font-family: 'FontAwesome';
    width: 24px;
    height: 24px;
    float:left;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    margin-right:0;
}
.icon-weixin:before{
	content:'\f1d7';
}

.userMeassageDiv{
	position:absolute;
	left:-100px;
	top:50px;
	width:390px;
	height:420px;
	background:#fff;
	border:1px solid #ddd;
	padding-top:30px;
	box-shadow: 0px 0px 2px #ddd;
	color:#333;
}
.userMeassageDiv>div.H42Div{
	height:42px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	overflow:hidden;
}
.userMeassageDiv div.left{
	float:left;
	width:110px;
}
.userMeassageDiv div.right{
	/* margin-left:110px; */
}
.userMeassageDiv div.right input[type=password]{
	width:220px;
	height:30px;
	line-height:30px;
	padding:0 15px;
	border:1px solid #C3C3C3;
	border-radius:5px;
}
.closeBtn{/* 闁氨鏁ら崗鎶芥４閹稿鎸� */
	height:14px;
	width:14px;
	position:absolute;
	top:15px;
	right:15px;
	cursor:pointer;
}
.kqdsInformationDiv{
	position:absolute;
	top:50px;
	left:0;
	width:375px;
	height:445px;
	background:#fff;
	border:1px solid #ddd;
	z-index:2;
    box-shadow: 0px 0px 2px #ddd;
    padding-top:20px;
}
.onlinePersonDiv{
	position:absolute;
	top:50px;
	right:0;
	width:390px;
	/* height:540px; */
	background:#fff;
	border:1px solid #ddd;
	z-index:3;
	padding-top:30px;
    box-shadow: 0px 0px 2px #ddd;
}
.blueArrow{/* 閽冩繆澹婄粻顓炪仈 */
	display:inline-block;
	background: url(../img/kqdsUpIcons3.png) no-repeat -65px -251px;
    position: relative;
    top: 3px;
    left:2px;
}
.active .blueArrow{
	background-position:-37px -251px;
}
.onlinePersonDiv .onlinePersonDiv_header{/*閸︺劎鍤庢禍鍝勬喅瀵顢�  閺嶅洭顣�  */
	height:50px;
	padding: 0 20px 25px 30px;
	font-size:20px;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}
.onlinePersonDiv .onlinePersonDiv_body{/*閸︺劎鍤庢禍鍝勬喅瀵顢�  鐏炴洜銇氭穱鈩冧紖  */
	height:460px;
	background:#fff;
	overflow-y:auto;
}
.onlinePersonDiv .onlinePersonDiv_body ul{
	margin:0;
}
.onlinePersonDiv .onlinePersonDiv_body ul.depateUl>li>p{
	padding:0 20px 0 30px;
	height:38px;
	line-height:38px;
	border-bottom:2px solid #00A6C0;
	margin:0;
	font-size:16px;
	cursor:pointer;
}
.onlinePersonDiv .onlinePersonDiv_body ul.depateUl>li>ul.personStateUl{
	padding:8px 20px 8px 30px;
	border-bottom:1px solid #ddd;
}
.onlinePersonDiv .onlinePersonDiv_body ul.depateUl>li>ul.personStateUl>li{
	height:26px;
	line-height:26px;
}
.onlinePersonDiv .onlinePersonDiv_body ul.depateUl>li>ul.personStateUl>li>span{
	display:block;
	float:left;
}

.userMeassageDiv,.onlinePersonDiv,.kqdsInformationDiv{
		border-radius:6px;
		border:1px solid #ddd;
		overflow:hidden;
}