
.infoHd{padding: 0 20px;line-height:40px;font-family:"Microsoft YaHei";font-size:14px;color: #FFFFFF;background: #0e7cc9;}

.foot-buttonBar{margin: 10px 0;padding: 10px 0; text-align: center;border-top: solid 1px #0e7cc9;}
.aBtn{
	display: inline-block;padding:0 15px;margin-right:10px;
	height: 28px;line-height: 28px;box-sizing:border-box;
	border: solid 1px #0e7cc7;border-radius:16px;
	color: #0e7cc7;text-align:center;
}
.search{color: #fff;background: #117cca;text-decoration: none;}
.aBtn:hover{color: #fff;background: #117cca;text-decoration: none;}


.infoBd{padding:0 10px 10px;font-size: 12px;border-bottom: solid 1px #0e7cc9;}
.formBox{overflow: hidden;padding: 10px 0;margin-bottom:10px;width:500px;margin:0 auto;}
.infoBd .kv{float:left;margin:0 10px 10px 0;}
.infoBd .kv.singleKv{width: 100%;clear: both;}
.infoBd .kv.singleKv textarea{width: 400px;}
.kv > label{margin-right: 10px;}
.infoBd .kv input[type=text],
.infoBd .kv select{width: 152px;}

.optBox{margin-bottom: 10px;overflow: hidden;}
.optBox > a,.optBox > select{margin-right: 5px;}

.tableBox .tableHd{
	line-height:40px;
	font-family:"Microsoft YaHei";
	font-size:14px;color: #333;
	background: #FAFAFB ;overflow: hidden;
	border:1px solid #ddd;
	border-radius:5px;
}
.tableBox .tableHd ul{float: left;margin-bottom: 0;}
.tableHd ul li{float: left;padding: 0 15px;height:100%;}
/*wl  */
.tableHd ul li:hover{cursor:pointer;}
.tableHd ul li.current{color:#00A6C0;border-bottom:3px solid #00A6C0;}
/*wl*/
.tableBox .tableHd > label{float: left;font-weight: normal;font-size: 14px;margin-left: 20px;margin-bottom: 0;}
.tableBox .tableHd > label input[type=checkbox],
.tableBox .tableHd > label input[type=radio]{vertical-align: -3px;*vertical-align: 0;margin-right: 5px;}
.tableBox .tableHd > a{float: right;height: 25px;padding: 0 10px;margin:5px 10px 0 0;line-height: 25px;border-radius: 3px;border: solid 1px #FFFFFF;color: #fff;font-size:14px;}
.tableBox .tableBd ul{margin:0;}
.tableBox .tableBd ul li{height: 33px;width: 100%;line-height: 33px;}
.tableBox .tableBd ul li:nth-child(odd){background: #eff8ff;}
.tableBox .tableBd ul li > label{width:140px;margin: 0;padding-right: 40px;border-right: solid 1px #969ea1;text-align: right;font-weight: normal;color: #333;}
.tableBox .tableBd ul li > span{padding: 0 20px;}
.optBox input[type=text]{padding:0 10px;width:100px;height: 28px;line-height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;-webkit-transition: all .3s;transition: all .3s;}
.optBox input[type=text]:focus,
.optBox select:focus{border-color: #0d7bc8;}
.optBox select{height: 28px;width:100px;border: solid 1px #e5e5e5;border-radius: 3px;}
.optBox h6{color: #0f82d3;margin-bottom: 5px;font-size: 14px;}
.optBox >label{font-weight: normal;margin:0;}
/*wl鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�start*/
/* 
.solidBtn{display:inline-block;width:100px;height: 26px;line-height: 26px;border: solid 1px #0e7cc7;border-radius: 15px;color: #fff;text-align:center;background: #0e7cc9;margin-bottom: 5px;} 
.solidBtn:hover{color: #0e7cc9;background: #FFFFFF;text-decoration: none;}
*/
.solidBtn{
	display:inline-block;padding:0 10px;height: 26px;
	line-height: 26px;border-radius: 16px;
	text-align:center;margin-right:5px;
	background:#fff;color: #428bca;border:1px solid #428bca;
	
}
.solidBtn:hover{
	background:#428bca;
	color:#fff;
}
a:hover{text-decoration: none;}
/*wl 鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�end*/


.searchBar{padding: 15px 0 10px 0;border-bottom: solid 1px #0e7cc9;overflow: hidden;}
.searchBar > label{float: left;font-weight: normal;font-size: 14px;margin-bottom: 0;line-height: 28px;}
.searchBar > label input[type=checkbox]{vertical-align: -3px;*vertical-align: 0;margin-right: 5px;}
.searchBar > .kv{margin-bottom: 0;}

.buttonBar{overflow: hidden;text-align: left;margin: 5px 0 10px 0;}
.buttonBar > a{margin-bottom: 5px;}
.biliHistory .tableHd{
	padding: 0 20px;
	line-height:40px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color: #FFFFFF;
	border-radius:5px;
	background: #00a6c0 ;
}



.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #333;font-weight:normal;background: #00a6c0;}  
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
#table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }

/*wl*/
#topmenu{
	overflow:hidden;
	margin-bottom:5px;
}
.infoBd .cyBliK{/**/
	float:left;
	
}
.infoBd .bzBliK{/* */
	float:right;
}
.infoBd select.dictBliK{/**/
	height:26px;
	margin:0 5px 0 0 ;
	float:right;
	cursor:pointer;
}
.infoBd .zyBliK{/* */
	float:right;
}
span.impText {
    display: block;
    text-align: right;
    padding: 0 10px 0 5px;
    color: #FA6406;
    /* color: #a94442; */
}

/*wl鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�鈥斺�end*/


