body{font-size: 12px;}
textarea{padding:5px 10px;border-color: #cdcdcd;line-height: 21px;min-height:80px;max-height: 100px;border-radius: 3px;}
textarea:focus{border-color: #0d7bc8;}
label{margin-bottom: 0;}
.select2-container{vertical-align: top;}

/*infoBd的css*/
.infoHd,.tableHd{
	padding: 0 10px;
	line-height:30px;font-family:"Microsoft YaHei";
	
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	background: #fff;
	font-size: 14px;
    color: #777;
    font-weight: bold;
}
.infoHd{margin: 20px 0 10px;}
.infoContentBox{padding: 0 5px;}

/* .aBtn{display: inline-block;margin-right:10px;padding: 0 20px;height: 28px;line-height: 28px;border: solid 1px #0e7cc7;border-radius:15px;color: #0e7cc7;}
.aBtn:hover{color: #fff;background: #117cca;text-decoration: none;} */
.aBtn{
	display: inline-block;padding:0 15px;margin-right:10px;
	height: 28px;line-height: 28px;box-sizing:border-box;
	border: solid 1px #0e7cc7;border-radius:16px;
	color: #0e7cc7;text-align:center;
}
.recommendedBar{
	margin-top:15px;
	text-align:center;
}
@media (max-width: 500px){
	.recommendedBar{
		width:300px;
		margin:0 auto;
	}
	.aBtn{
		margin-right:40px;
		margin-top:10px;
	}
}
.aBtn:hover{color: #fff;background: #117cca;text-decoration: none;}
.search{color: #fff;background: #117cca;text-decoration: none;}

.recordBox{padding-left: 165px;height: 100px;border: solid 1px #0d7dc7;margin:10px 0;}
.recordBox .name{float: left;width: 164px;height:100%;border-right: solid 1px #dcdcdc;margin-left:-165px;text-align: center;line-height: 100px;font-size:14px;background: #f0f0f0;}
.recordBox textarea{width: 100%;height: 100%;border-color: transparent;}
.recordBox textarea:focus{border-color: transparent;}
.bottomBar{padding:0 0 10px 10px;text-align: center;}
/* .bottomBar > a{padding: 0 30px;} */

/* .tableBox{margin-bottom: 20px;} */
/*表格公共*/
.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{/* margin-top: -1px; */}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #333;font-weight:normal;background: #00A6C0;}  
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }

/* table > thead{background: #f0f0f0;} 调整bootstrap表头颜色*/
.bootstrap-table .table{border-bottom: none;}

/*还款计划*/
.textBar{ text-align: center; margin-bottom: 5px;}
.textBar > label{color: #fe6404; font-weight: normal;margin:0 10px;}