.filterWrap{overflow: hidden;padding:0 0 10px 0;border-bottom: solid 1px #0e7cc7;}
.searchKv .kv-v input[type=text]{width: 200px;}
.searchKv .kv-v select{width:100px;vertical-align: top;}
.searchKv .kv-v input[type=text]:focus,
.searchKv .kv-v select:focus{border-color:#00A6C0;}
.refreshA{float: right;margin-right: 30px;height:30px;line-height:30px;padding: 0 30px;color:#00A6C0 ;border-radius:15px;border:1px solid #00A6C0;outline:none;background: #fff;}
.refreshA:hover,.refreshA:focus{color:#fff;text-decoration: none;background: #00A6C0;}

/*预约中心弹窗*/
.yuyueWrap{padding-right: 100px;margin-bottom: 20px;}
.yuyueWrap .refreshA{float: right; margin-right: -100px;}
.reservation_center-content{width: 940px; margin: 20px 0 20px 15px;overflow: hidden;}
.reservation_center-content  .kv{float: left;margin:0 20px 10px 0px;min-width: 28px;width: 190px;}
.reservation_center-content .timeKv{width: 485px;}
.reservation_center-content  .kv > label{float:left;color: #666;width: 70px;}
.reservation_center-content  .kv select{float:left;vertical-align:top;width: 120px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.reservation_center-content  .kv input[type=text]{float: left;padding:10px;width:180px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.reservation_center-content  .kv select:focus,
.reservation_center-content  .kv input[type=text]:focus{border-color:#0d7bc8; }
.reservation_center-content  .kv span{float: left;margin: 0px 10px;line-height: 28px;}
.reservation_center-content  .kv input[type=checkbox]{float: left;margin:8px 5px 0 0;}
.clear{overflow: hidden;width: 100%; height: 2px; background: #00A6C0; margin-bottom: 20px;}
.bg-color{background: #eff8ff;}
.clear2{overflow: hidden;width: 100%; height: 1px; background: #00A6C0; margin-bottom: 20px; margin-top: 20px;}

/*就诊挂号*/
.jiuzhen_register-content{width: 800px; margin: 20px 0 0 15px; height: 100%;overflow: hidden;position: relative;padding-bottom: 90px;}
.table-title{padding:10px 0  10px 0px;margin:0;color: #00A6C0; font-size: 16px;}
.table-head{width: 100%;font-size: 18px;line-height: 36px; background: #00A6C0;margin: 0;color: #fff;padding-left: 10px;}
.register-bottom .kv{float: left;}
.register-bottom{overflow: hidden;margin-top: 20px;}
.register-bottom  .kv{float: left;line-height: 22px;margin:0 20px 10px 0px;min-width: 28px;width: 190px;}
.register-bottom  .kv > label{float:left;color: #666;width: 70px;}
.register-bottom  .kv select{float:left;width: 120px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.register-bottom  .kv input[type=text]{float: left;padding:10px;width: 540px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.register-bottom  .kv select:focus,
.register-bottom  .kv input[type=text]:focus{border-color:#0d7bc8; }
.register-btn{float:right;margin-right:80px;display:inline-block;height:30px;line-height:30px;padding: 0 30px;color: #fff;border-radius:15px;border:none;outline:none;background: #00A6C0;}
.register-btn:hover,.register-btn:focus{color: #FFFFFF;text-decoration: none;background: #40a4ea;}
.cl{overflow: hidden;width: 100%;}
.position-bottom{position: fixed;bottom: 0px;right:15px;left: 15px;background: #fff;padding-bottom: 20px;text-align: center;}
.aBtn{display: inline-block;margin-right:10px;padding: 0 20px;height: 28px;line-height: 28px;border: solid 1px #0e7cc7;border-radius:15px;color: #0e7cc7;}
.aBtn:hover{cursor: pointer;color: #fff;background: #117cca;text-decoration: none;}
.search{cursor: pointer;color: #fff;background: #117cca;text-decoration: none;}

/*新增关系*/
.hc-icon{vertical-align: -3px;*vertical-align: 1px;margin-left: 3px;}
.addRelation-content{width: 800px;overflow: hidden;margin: 20px 0 0 15px;}
.relationKv{float: left;margin-bottom: 10px;width: 290px;}
.remarkKv{float: none;clear: both;width:650px}
.relationKv .kv-v input[type=text],.relationKv .kv-v select{width: 180px;}
.relationKv .kv-v input[type=text]:focus{border-color: #00A6C0;}
.remarkKv  .kv-v input[type=text]{width: 81%;}
.relationKv label{margin-right: 10px;}
.addRelation-content .searchWrap{overflow:hidden;padding-right: 200px;}
.addRelation-btn{float:right;margin-right:-200px;}
.addRelation-btn > a{display:inline-block;margin-right: 5px;height:30px;line-height:30px;padding: 0 30px;color: #fff;border-radius:15px;border:none;outline:none;background: #00A6C0;}
.addRelation-btn .white-btn{background: #fff;color:#00A6C0;border: 1px solid #00A6C0;}
.addRelation-btn > a:hover,.addRelation-btn > a:focus{color: #FFFFFF;text-decoration: none;background: #40a4ea;}
.addRelation-btn .white-btn:hover,.addRelation-btn .white-btn:focus{background:none;color: #00A6C0;}

/*表格公共*/
.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #fff;font-weight:normal;background: #00A6C0;}

.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
#table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }


