html{overflow-x: hidden;}
body{font-size: 12px;}
textarea{padding:5px 10px;border-color: #cdcdcd;line-height: 21px;min-height:80px;max-height: 100px;border-radius: 3px;}
textarea:focus{border-color: #0d7bc8;}
label{margin-bottom: 0;}
.select2-container{vertical-align: top;}

/*infoBd的css*/
.infoHd,.tableHd{padding: 0 20px;line-height:30px;font-family:"Microsoft YaHei";font-size:14px;color: #FFFFFF;background: #00A6C0;}
.infoBd{padding:20px 0;}
.infoBd .formBox {width: 500px;}
.infoBd .kv{float:left;margin:0 20px 10px 0;}
.infoBd .kv.singleKv{width: 100%;clear: both;float:left;}
.infoBd .kv.singleKv textarea{width:98%;vertical-align: top;}
.kv > label{margin-right: 10px;}
.infoBd .kv input[type=text],
.infoBd .kv select{width: 152px;}
.buttonBar{clear:both;text-align: center;margin: 15px 0 20px 0;}
.aBtn{display: inline-block;padding: 0 20px;height: 28px;line-height: 28px;border: solid 1px #0e7cc7;border-radius:15px;color: #0e7cc7;}
.aBtn:hover{color: #fff;background: #117cca;text-decoration: none;}
.search{color: #fff;background: #117cca;text-decoration: none;}
.buttonBar .aBtn{margin: 0 10px;}
.topBar{border-bottom: solid 1px #0e7cc7;padding: 10px 0;}

/*表格公共*/
.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #fff;font-weight:normal;background: #00A6C0;}
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
#table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }