body{min-width: 525px;}
.infoHd{padding: 0 0 0 15px;line-height:30px;font-family:"Microsoft YaHei";font-size:14px;color: #333;background: #fff ;border-bottom:1px solid #ddd;}
/*wl*/
.infoHd>.text{
	font-size:18px;
}
/*wl*/
.infoHd .tab{float: right;margin: 1px 1px 0 0;}
.infoHd .tab li{
	float: left;
	height:30px;
	width: 75px;
	text-align: center;
	line-height: 30px;
	cursor: pointer; 
}
.infoHd .tab li:hover{
	background:#EFEFEF;
}
/*wl*/
/* .infoHd .tab li.current{background: #ff6100;} */
.infoHd .tab li.current{
	color: #00A6C0;
	border-bottom:3px solid #00A6C0;
}
/*wl*/
.foot-buttonBar{margin: 10px 0;padding: 10px 0; text-align: center;border-top: solid 1px #00A6C0 ;}

.aBtn{display: inline-block;margin-right:5px;padding: 0 10px;height: 28px;line-height: 28px;border-radius:15px;color: #fff;background:#1B9AF7;}
.aBtn:hover{color: #fff;background: #21a1ff;text-decoration: none;}
.search{color: #fff;background: #21a1ff;text-decoration: none;}
a:hover{text-decoration:none;}
/**/
#ToothBit{
	width: 80%;
	min-width: 1000px;
	height: 210px;
	overflow: hidden;
	/* border:1px solid red; */
	margin: 0 auto;
}
#ToothBit>div{
	float: left;
}
.yaIcon{display:block;width: 20px;height: 58px;margin-bottom:5px;background: url("../../image/kqdsFront/img/ya.png") no-repeat;background-size: 350px;}
.le8{background-position: -1px 5px;}
.le7{background-position: -22px 5px;}
.le6{background-position: -44px 5px;}
.le5{background-position: -67px 5px;}
.le4{background-position: -89px 5px;}
.le3{background-position: -110px 5px;}
.le1{background-position: -154px 5px;;}
.le2{background-position: -132px 5px;}
.rg1{background-position: -176px 5px;}
.rg2{background-position: -198px 5px;}
.rg3{background-position: -220px 5px;}
.rg4{background-position: -242px 5px;}
.rg5{background-position: -264px 5px;}
.rg6{background-position: -286px 5px;}
.rg7{background-position: -308px 5px;}
.rg8{background-position: -329px 5px;}

.downYa .le8{background-position: -1px -53px;}
.downYa .le7{background-position: -22px -53px;}
.downYa .le6{background-position: -44px -53px;}
.downYa .le5{background-position: -66px -53px;}
.downYa .le4{background-position: -89px -53px;}
.downYa .le3{background-position: -110px -53px;}
.downYa .le2{background-position: -132px -53px;}
.downYa .le1{background-position: -154px -53px;}
.downYa .rg1{background-position: -176px -53px;}
.downYa .rg2{background-position: -198px -53px;}
.downYa .rg3{background-position: -220px -53px;}
.downYa .rg4{background-position: -242px -53px;}
.downYa .rg5{background-position: -263px -53px;}
.downYa .rg6{background-position: -286px -53px;}
.downYa .rg7{background-position: -308px -53px;}
.downYa .rg8{background-position: -329px -53px;}


.upYa{position:absolute;left:38%;/*padding-top: 5px;*/margin:0 0 0px -180px;/* border: 1px solid yellow; */}
.downYa{position:absolute;left:38%;bottom:0px;margin-left: -180px;margin-bottom: 0px;/* border: 1px solid blue; */}



/*wl*/
/* .children .upYa,.children .downYa{margin-left: -128px;} */
.children .upYa,.children .downYa{margin-left: -200px;}
/*wl*/

.downYa span:first-child{display: inline-block;margin-bottom: 5px;}
.toothBox{width: 50%;position:relative;padding:0 10px 0px 10%;height: 180px;/* border:1px solid blue; */}
.toothBox ul{overflow: hidden;}
.toothBox li{float: left; width: 26px;text-align: center;cursor: pointer;}
.toothBox .line {
    position: absolute;
    top: 49%;
    left: 1%;
    right: 0;
    height: 1px;
    color: #888;
    background: #c3c3c3;
    width: 63%;
    margin: 0 auto;
}
.toothBox .line .left{position: absolute;left:60%; top: 50%;margin: -10px 0 0 -170px;font-size: 13px !important;}
.toothBox .line .right{position: absolute;right: 70%;top: 50%;margin: -10px -200px 0 0;font-size: 13px !important;}
.toothBox>span{
	display:block;
	/* border:1px solid yellow; */
	position: absolute;
	top: 0px;
	left: 10%;
	font-size: 14px;
}
.toothBox ul li span.num{
	display:inline-block; 
	/*width:20px; height:20px;*/
	width:15px; height:15px;
	border-radius:50%; color:#333; background:transparent;
	/*line-height:20px;*/ 
	line-height:15px !important; 
	font-size:12px !important;
	text-align: center;
	margin-top: 3px;
	margin-right: 3px;
}
.toothBox li.current span.num{color:#fff;background:#FF6100;}
/*wl*/


.menuList{margin: 10px 0; text-align:right;;overflow:hidden;}
.menuList span.menuListClassify{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	float:left;height:34px;line-height:34px;color:#fff;background:#00A6C0 ;
	padding:0 4px; font-size:13px; font-weight:bold;
}
.menuList ul{
	float:left;
	padding:5px 10px;
	margin:0px;
	border: solid 1px #00A6C0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.menuList ul li{
	float: left;padding:0 5px; line-height: 19px;
	color: #333; height:22px; cursor:pointer;
	transition:background linear 200ms;
	border:1px solid transparent;
	border-radius:4px;
}
.menuList ul li.current{
	background: #00A6C0;
	color: #FFFFFF;
}
/*wl*/


/*wl */
/* .tableBar{margin: 10px;} */
.tableBar{margin-top:3px; float:left;}
.tableBar .aBtn{
	border-radius:16px;
}
/*wl   */
.tableBar label{font-weight: normal;margin-right: 25px;}
.tableBar label >input[type=checkbox]{vertical-align: -3px;*vertical-align: 0;margin-right: 5px;}

/*wl*/
/* .tableBox{border: solid 1px #0d7dc7} */
.fixed-table-container{border-left:none;}
/*wl */

.buttonBar{margin: 20px 10px;}
.recommendedBar{float: right;}
.recommendedBar > a{padding: 0 15px;}
.normalBar{width: 360px;}

.button{
	display: inline-block;margin-right:10px;padding: 0 30px;height: 28px;
	line-height: 28px;border-radius:16px;
}
.blueBtn{border-color:#00A6C0 ;color: #fff;background:#1B9AF7;}
.blueBtn:hover{color: #fff;background:#21a1ff;}
.orangeBtn{color: #fff;background:#FEAE1B;}
.orangeBtn:hover{color: #FFFFFF;background:#ffbd44;}
/* wl*/
.normalBtn{padding:0 10px;margin-bottom:10px;border-color:#a3a494;color: #a0a18f;}
.normalBtn:hover{border-color:#117cca;color: #117cca;text-decoration: none;}

.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #333;font-weight:normal;background: #00A6C0;} 
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }