/* reservation 閸楁洝鐦濇稉锟芥０鍕吂閻ㄥ嫭鍓伴幀锟�*/
.reservation_center-content{width: 940px; margin: 20px 0 20px 15px;overflow: hidden;}

/* 閻€劋绨い鐢告桨鎼存洟鍎� */
.clear2{overflow: hidden;width: 100%; height: 1px; background: #0e7cc7; margin-bottom: 20px; margin-top: 20px;}
/* 閸滐拷cl2闁板秴鎮庢担璺ㄦ暏 */
.position-bottom{position: fixed;bottom: 0px;right:15px;left: 15px;background: #fff;padding-bottom: 20px;text-align: center;}
ul{margin:0;}

.register-bottom {overflow: hidden;}
.register-bottom  .kv{float: left;}
.register-bottom  .kv{float: left;line-height: 22px;margin:0 20px 10px 0px;min-width: 28px;}
	.register-bottom  .kv > label{float:left;color: #666;width: 70px;}
.register-bottom  .kv select{float:left;width: 120px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.register-bottom  .kv input[type=text]{float: left;padding:10px;width: 540px;height: 28px;border: solid 1px #e5e5e5;border-radius: 3px;}
.register-bottom  .kv select:focus,
.register-bottom  .kv input[type=text]:focus{border-color:#0d7bc8; }

/*鐞涖劍鐗搁崗顒�鍙�*/
.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #333;font-weight:normal;background: #00a6c0;}

.table-striped > tbody > tr:nth-child(odd){background: #EFEFEF;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */
#table td span.time{display:inline-block;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
/* 闂傘劏鐦栭弰鐥禷ble/缂冩垹鏁搁弰鐥禷ble2 */
#table2 td span.time{display:inline-block;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table2 td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table1 td span.time{display:inline-block;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
#table1 td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }

#gongzuol{
	/* border:solid 1px #c0c0c0; */
	background: #FAFAFB;
}

#gongzuol .columnHd{
	padding:0 15px;
	border-bottom:solid 1px #0e7ec6;
	font-size:16px;
	color: #373737;
	font-family: "Microsoft YaHei";
	line-height:36px;
}
#gongzuol .dataCountUl{
	overflow:hidden;
}
#gongzuol .dataCountUl>li{
	float:left;
	height:36px;
	line-height:36px;
	margin-left:20px;
}
#gongzuol .dataCountUl>li:first-child{
	margin-left:15px;
}
