@CHARSET "UTF-8";
.content{
	padding:0 5px;
	
}
.content:after{
	display:block;
	content:"";
	clear:both;
}
.fixed-table-container .fixed-table-header{/* header首行为蓝色 */
	background:#00a6c0 ;
	color:#fff;
}
#table td{ 
	height:30px;
	padding:0;
}
#table td.bs-checkbox input[type="checkbox"]{
	position:relative;
	top:6px;
}