@CHARSET "UTF-8";
.container{
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:none;
}
.container{
	
	overflow:auto;
}
.tableContent{/*table布局 */
	margin:0 auto;
	border-collapse:separate;
	font-size:13px;
	width:80%;
	padding:10px 30px 10px 0 ;
	border:1px solid #ddd;
}
.relative{
	position:relative;
}
.tableContent input[type=text],.tableContent select{
	width:90%;
}
.tableContent tr td:first-child{
	width:30%;
	text-align:center;
	vertical-align:middle;
}
.tableContent tr td:nth-child(2){
	width:70%;
}

.tableContent span.impText{/*必填信息*/
	display:inline-block;
	text-align:right;
	height:28px;
	line-height:28px;
	color:#FA6406;
	/* color:#a94442; */
}
.tableContent span.comText{/*普通信息 */
	display:inline-block;
	text-align:right;
	height:28px;
	line-height:28px;
}

.tableContent tr{/*行高 用来调整行与行之间的距离 */
	height:42px;
}
.tableContent tr>td:nth-child(3){/*第三列与第二列之间间距30px*/
	padding-left:60px;
}
select,input[type="text"]{/*普通select input 占td的80% */
	width:200px;
	box-sizing:border-box;
	float:left;
	color:#333;
	height:28px;
}

select{padding-left:3px;}
input[type="text"]{padding-left:5px;border:1px solid #ddd;outline:none;}
input[type="text"]:focus,select:focus,textarea:focus{
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
}
input[readonly],input[disabled],select[disabled],select[disabled]{/*只读的input*/
	background:rgba(246, 246, 246, 0.42);
	cursor:not-allowed;
	color:#777;
}
textarea{
	width:100%;
	min-height:30px;
	font-size:13px;
	border-radius:4px;
	color:#333;
	padding-left:5px;
}
									/*底部固定定位的div 存放三个按钮*/
.fixedBottomDiv{
	
	width:100%;
	box-sizing:border-box;
	background:#fff;
	height:50px;
	text-align:center;
	padding-top:10px;
	/* border:1px solid #ddd; */
}
.fixedBottomDiv>.aBtn{/* 清空 确认 取消 按钮样式 */
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 15px;
	border:1px solid #0E7CC9;
	margin:0 3px;
	font-size:13px;
}
.fixedBottomDiv>.search{
	color:#fff;
	background:#0E7CC9;
}
.fixedBottomDiv>.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
input[type="radio"]:hover{/* 鼠标移入指针的效果 */
	cursor:pointer;
}
.tomatoText{
	color:tomato;
	display:inline-block;
	height:28px;
	line-height:28px;
	padding-left:1em;
}
.titleText{/* 权限管理 */
	height:40px;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	background:#fff;
	/* border-bottom:1px solid #ddd; */
}


