body{background: #fefefe;}
#container{padding: 0;}

/*主体*/
.main{}
.listWrap,.searchWrap{border: solid 1px #ddd;border-radius:5px;overflow:hidden;}
.listWrap{margin-bottom: 10px;}
.listWrap .listHd{padding:0 15px;border-bottom:solid 1px #0e7ec6;font-size: 16px;color: #373737;font-family: "Microsoft YaHei";line-height: 35px;background: #f5f5f5;}
.listWrap .listHd .home-icon{margin-right:6px;vertical-align: -3px; *vertical-align: 0;}
.listWrap .listBd{padding:10px;background: #f5f5f5;}
.listWrap  .formBox {margin: 10px 0;}
.listWrap  .formBox label{float:left;font-weight: normal;margin-right: 10px;}
.listWrap  .formBox label input[type=checkbox]{vertical-align: -3px; *vertical-align: 0;margin-right: 3px;}
.listWrap  .formBox .kv{float: left;}
.listWrap  .formBox .kv textarea{height: 30px;min-height: 0;width: 230px;}
.listWrap  .formBox .kv input[type=text]{width: 90px;height: 20px;text-align: right;}
.listWrap  .formBox .totalMsg{float: right;margin-top: 7px;}
.redFont{color: #ff3d3d;}


.buttonBar{margin: 10px 0 0 10px;}
.buttonBar .aBtn{display:inline-block;padding: 0 15px;height: 28px;border: solid 1px #00A6C0;color: #00A6C0;border-radius: 15px;line-height: 28px;width: 60px;text-align: center;}
.buttonBar  .search{color:#fff;background: #00A6C0;}
.buttonBar  .aBtn:hover{color:#fff;background: #00A6C0;}
.buttonBar .text{color: #00A6C0;margin-right: 10px;}
.addWrap .buttonBar{text-align: right;}

    /*查询条件*/
.searchWrap{position: relative;padding: 40px 10px 8px 10px;}
.searchWrap .cornerBox{
	position: absolute; 
	left:0;top:0;
	height:30px;
	width:100%;
	line-height:30px;
	text-align:left;
	padding-left:10px;
	font-size:14px;
	color:#333;
	background: #fff ;
	border-bottom:1px solid #ddd;
}
.searchWrap .text{position: absolute; left:140px;top:9px;color: #0e7ec8;}
.searchWrap .text i{margin: 0 2px;}
.searchWrap .btnBar{float: right;}
.searchWrap .btnBar > .aBtn{display:inline-block;padding: 0 15px;height: 28px;border: solid 1px #00A6C0;color: #00A6C0;border-radius: 15px;line-height: 28px;}
.searchWrap .btnBar > .aBtn:hover{color:#fff;background: #00A6C0;}
.searchWrap .btnBar > .search{color:#fff;background: #00A6C0;}
.formBox{overflow: hidden;}
.searchWrap .kv{float: left;}
.searchWrap .kv > label{margin-right: 10px;}
.searchWrap .kv input[type=text],
.searchWrap .kv select{width:100px;height: 24px; line-height: 24px;box-sizing: border-box; }
.searchWrap .kv input[type=text].searchInput{width: 390px;}
.searchWrap .orangeFont{margin-left:10px;color: #ff6100;line-height: 20px;}




