@CHARSET "UTF-8";
input::-webkit-input-placeholder{
	font-size: 14px;
	font-weight: normal;
}
input:-moz-placeholder{
	font-size: 14px;
	font-weight: normal;
}
input::-moz-placeholder{
	font-size: 14px;
	font-weight: normal;
}
input:-ms-input-placeholder{
	font-size: 14px;
	font-weight: normal;
}
.container-fluid{
	width:100%;
	font-family："微软雅黑";
}
.colDefined{
	padding:0px;
}
.row{
	margin: 0px;
}
ul, ol{
	margin:0px;
}
/* logo */
#logoTitle{
	position: relative;
	border-bottom:1px dashed #c3c3c3;
}
#logoImg{
	display:block;
	position:absolute;
	left: 1%;
	top: 0px;
	width:6.5%; 
}
/* 大标题 */
.container-fluid .bigtitle{
	display: block;
	width:100%;
	text-align: center;
	font-size: 26px;
	line-height: 26px;
  	margin: 45px auto 35px;
  	letter-spacing: 1px;
  	font-weight: bold;
}
/* 小标题 */
.container-fluid .smalltitle{
	display: block;
	width:100%;
	font-size: 16px;
	line-height: 32px;
  	letter-spacing: 1px;
  	font-weight: bold;
  	/* border:1px solid red; */
}
.container-fluid .smalltitle>font{
	font-size:24px;
	margin-right: 10px;
	margin-left: 8px;
}
/* 基本信息 */
.baseInfo{
	width:100%;
	border:1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	padding-left: 8px;
}
.baseInfo .patient{
	overflow: hidden;
}
/* 订单编号 */
.orderNum{
	border:0px;
	border-bottom: 1px solid black;
	text-align: center;
}
/* 输入组合框 */
.baseInfo .patient>.inputDiv{
	display:block;
	float:left;
}
.baseInfo .patient>.inputDiv>span{
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	height: 22px;
}
.baseInfo .patient>.inputDiv>input{
	border:0px;
	border-bottom: 1px solid black;
    width: 140px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    /* background-color: #ecebeb; */
}
/* 头像 */
.baseInfo .patientHeader{
	/* width:100%; */
	position: relative;
	text-align: right;
}
.baseInfo .patientHeader>img{
	width: 98px;
    height: 118px;
}
.file{
	display: block;
    width: 98px;
    height: 118px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
}
/* 配件 */
.fittings{
	border:1px solid #c3c3c3;
	padding:5px 0px 5px 8px;
}
/* 单个配件 */
.fittings ul{
	overflow:hidden;
}
.fittings .fittingsItem{
	float:left;
	margin-right: 10px;
}
.fittings .fittingsItem>.fittingsNum{
	width:30px;
	height:20px;
	font-size: 14px;
	line-height: 20px;
	border: 0px;
    border-bottom: 1px solid black;
	margin-right: 5px;
	text-align: center;
	font-weight: bold;
}
.fittings .fittingsItem>.fittingsName{
	font-size: 16px;
	line-height: 22px;
}
/* 牙位 */
.addTooth{
    font-size: 15px;
    display: inline-block;
    background-color: white;
    border: 1px solid #00A6C0;
    border-radius: 5px;
    color: #00A6C0;
    line-height: 26px;
    padding: 0px 12px;
    outline: none;
    position: absolute;
    top: 4px;
    right: 0px;
}
/* 牙位图 */
#ToothBit{
	/* width: 830px; */
	width:78%;
	/* min-width: 1000px; */
	min-width: 745px;
	/* height: 210px; */
	overflow: hidden;
	/* border:1px solid red; */
}
#ToothBit>div{
	float: left;
	width:50%;
}
/* .yaIcon{
	display:block;
	width: 20px;
	height: 58px;
	margin-bottom:5px;
	background: url("../img/ya.png") no-repeat;
	background-size: 350px;
} */
/* .le8{background-position: -1px 5px;}
.le7{background-position: -22px 5px;}
.le6{background-position: -44px 5px;}
.le5{background-position: -67px 5px;}
.le4{background-position: -89px 5px;}
.le3{background-position: -110px 5px;}
.le1{background-position: -154px 5px;;}
.le2{background-position: -132px 5px;}
.rg1{background-position: -176px 5px;}
.rg2{background-position: -198px 5px;}
.rg3{background-position: -220px 5px;}
.rg4{background-position: -242px 5px;}
.rg5{background-position: -264px 5px;}
.rg6{background-position: -286px 5px;}
.rg7{background-position: -308px 5px;}
.rg8{background-position: -329px 5px;}

.downYa .le8{background-position: -1px -53px;}
.downYa .le7{background-position: -22px -53px;}
.downYa .le6{background-position: -44px -53px;}
.downYa .le5{background-position: -66px -53px;}
.downYa .le4{background-position: -89px -53px;}
.downYa .le3{background-position: -110px -53px;}
.downYa .le2{background-position: -132px -53px;}
.downYa .le1{background-position: -154px -53px;}
.downYa .rg1{background-position: -176px -53px;}
.downYa .rg2{background-position: -198px -53px;}
.downYa .rg3{background-position: -220px -53px;}
.downYa .rg4{background-position: -242px -53px;}
.downYa .rg5{background-position: -263px -53px;}
.downYa .rg6{background-position: -286px -53px;}
.downYa .rg7{background-position: -308px -53px;}
.downYa .rg8{background-position: -329px -53px;} */


/* .upYa{position:absolute;left:50%;margin:0 0 0px -180px;} */
/* .downYa{position:absolute;left:50%;bottom:0px;margin-left: -180px;margin-bottom: 0px;} */



/*wl*/
/* .children .upYa,.children .downYa{margin-left: -128px;} */
/* .children .upYa,.children .downYa{margin-left: -200px;} */
/*wl*/

/* .downYa span:first-child{display: inline-block;margin-bottom: 5px;} */
.toothMapAndBtn{
	position: relative;
	border:1px solid red;
}
.toothMapCol{
	heigth:100%;
}
.toothBox{
	/* width: 390px; */
	width: 100%;
	position:absolute;
	top:35%;
	left:0px;
	position:relative;
	/* height: 180px; */
}
/* .toothBox{
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height:130px;
	border: 2px solid red;
} */
.toothBox .toothMap{
	width: 100%;
	overflow: hidden;
	height: 130px;
    box-shadow: 0px 0px 10px 2px #ddd;
    border-radius: 9px;
   	padding-top: 33px;
    
    /* min-height:130px;
    position: absolute;
	top: 50%;
	height: 100px;
	border: 2px solid green; */
	position: relative;
}
.toothMap{
	padding: 33px 15%;
}
.toothMapCol{
	position: relative;
	margin: 0 auto;
	min-height:130px;
	position: absolute;
    top: 0px;
    left: 0px;
} 
.toothMapCol .toothBox{
	min-height:130px;
    position: absolute;
	top: 50%;
	margin-top: -65px;
	height: 100px;
}
.testdiv{
	border:2px solid pink;
	position: absolute;
	left:0px;
	top:0px;
	width:200px;
	height:100%;
} 
.toothMap .verticalLine{
	display: block;
	width:1px;
	height:80px;
	background-color: black;
	position: absolute;
	top: 17px;
    left: 49.7%;
}
/* 更改牙位 */       
.toothMap .showToothMap{
	display: block;
	width: 90px;
	font-size: 14px;
	line-height:14px;
	color: #434343;
	text-align:center;
	margin: 20px auto 0px;
	border:1px solid red;
    padding: 0;
    outline: none;
    background-color: #00a6c0;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding: 4px 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.toothBox ul{overflow: hidden;height:24px;}
.toothBox li{visibility: hidden;float: left;/* width:20px; */width:6.25%;text-align: center;cursor: pointer;}
.toothBox .line{
	/* display:none; */
	height: 1px;
	background: black;
	/* width: 340px; */
	width: 100%;
    margin: 0 auto;
}
.toothBox .line .left{
	/* position: absolute;
	left:61%; 
	top: 50%;
	margin: -10px 0 0 -170px; */
	font-size: 13px !important;
}
.toothBox .line .right{
	/* position: absolute;
	right: 70%;
	top: 50%;
	margin: -10px -170px 0 0; */
	font-size: 13px !important;
}
.upYa,.downYa{
	/* width: 320px */; 
	width: 100%;
    margin: 0 auto;
} 
.upYa li{
	margin-bottom: 5px;
}
.downYa li{
	margin-top: 5px;
}
.yaIcon{
	display: none;
}
/* .toothBox>span{
	position: absolute;
	top: 0px;
	left: 8%;
	font-size: 14px;
} */

/*wl*/
/* .toothBox li.current span.num{display:inline-block;width: 20px;height:20px; border-radius:50%;color: #FFFFFF;background: #ff6100;} */
.toothBox ul li span.num{
	display:inline-block; 
	/*width:20px; height:20px;*/
	width:15px; height:15px;
	border-radius:50%; color:#333; background:transparent;
	/*line-height:20px;*/ 
	line-height:15px !important; 
	font-size:12px !important;
	text-align: center;
	margin-top: 3px;
}
/*.toothBox li span.numle1{
	background-color: red;
}*/
.toothBox li.current{
	visibility: visible; 	
}
/* 牙位图按钮 */
.repairProjectBtns{
	padding-bottom: 5px;
	padding-left: 10px;
}
.repairProjectBtns>.repairClickBtn{
	display: inline-block;
	border: 1px solid #00A6C0;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 20px 0px 10px;
    border-radius: 5px;
    background: url("../../../image/kqdsFront/jiagong/toggle_down_light.png") no-repeat;
    /* background-position: 97% 50%; */
    background-position: right center;
    margin-right: 5px;
    margin-top: 5px;
}
.repairProjectBtns>.repairClickBtn>span{
	display: inline-block;
	margin-right: 10px;
}
/* 修复按钮已选样式 */
.repairProjectBtns>div.repairAlready{
	color: #00A6C0;
}
/* 选中图标 */
.repairProjectBtns>div.optionsOpen{
	background: url("../../../image/kqdsFront/jiagong/toggle_up_dark.png") no-repeat;
	background-position: right center;
	color: white;
    background-color: #00A6C0;
}
/* 详细选项 */
.optionsDetail{
	border:1px solid green;
	/* margin: 10px; */
	width: 515px;
}
.toothMapItem .mapItemDetail{
	position: relative;
}
#addToothMapDiv	 .deleteIcon{
	display: block;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    background: url(../../../image/kqdsFront/jiagong/cancel.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 30px 30px;
    background-position: center;
}
.optionsDetail{
	position: absolute;
	background-color: white;
	z-index: 99;
	padding-top: 10px;
}
/* 二级名字 */
.optionsDetail .twoOptionName{
	display: block;
	font-size: 14px;
	font-weight:bold;
	line-height: 24px;
	padding-left: 10px;
}
.optionsDetail .detailItem{
	overflow: hidden;
	padding-left: 20px;
}
.optionsDetail .detailItem li{
	display: block;
    float: left;
    font-size: 12px;
    line-height: 24px;
    padding: 0px 5px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #00A6C0;
    margin-bottom: 5px;
}
.optionsDetail .detailItem li.thirdBtnCurrent{
	background-color: #00A6C0;
	color: white;
}
dl{
	margin-bottom: 0px;
}
.repairThirdId{
	display: none;
}
/* 确认按钮 */
.optionsDetail .optionsBtn{
	font-size: 14px;
    line-height: 24px;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #00A6C0;
    border: 0px;
    color: white;
    display: block;
    margin-left: 450px;
    margin-bottom: 5px;
}


.cbUl{
	overflow:hidden;
}
.cbUl>.cbItem{
	float:left;
}
.cbUl>.cbItem input{
	width:14px;
	height:14px;
	vertical-align: top;
}
.cbUl>.cbItem label{
	font-size: 14px;
	line-height: 22px;
	margin-right: 10px;
	font-weight: normal;
}
.cbUl>.cbItem img{
	margin-right: 10px;
}
.cbUl>.cbItem input{
	/* margin-left: 10px; */
	margin-right: 5px;
}
.designRequest table td{
    padding-left: 10px;
}

/* 按钮 */
.btns{
	width:100%;
	text-align:center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.btns button{
   	font-size: 16px;
   	line-height: 34px;
   	background-color: #00A6C0;
   	font-weight: normal;
   	color: white;
   	border: 0px;
   	border-radius: 5px;
   	padding: 0px 20px;
   	letter-spacing: 1px;
}
.btns #consent_saveBtn{
	margin-right: 30px;
}
/* 改变radio选中样式 */
.designRequest input[type='radio']{
	display:none;
	border:1px solid red;
	width:30px;
}
.designRequest input[type="radio"]+span {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #adabab;
    background-color: #fff;
    padding: 2px;
    margin-right: 5px;
    box-sizing: border-box;
}
.designRequest input[type="radio"]:checked+span>font{
	display:block;
    width: 7px;
    height: 7px;
    border-radius:50%;
    border: 4px solid #00A6C0;
}
