*{
	box-sizing:border-box;
}
#container{overflow-y:auto;padding-bottom:50px;}
.formBox{overflow: hidden;}
.formBox .kv{float: left;}
.formBox .kv > label{margin-right: 10px;width: 62px;}
.formBox .kv input[type=text],.formBox .kv select{width: 120px;}
.formBox .kv.long input[type=text]{width: 448px;}
.formBox .kv.long label{width: 120px;}
.formBox .kv textarea{width: 342px;}
.aBtn{display: inline-block;width: 100px;height: 30px; margin-right: 10px;line-height: 30px; border: 1px solid #00A6C0 ; color: #00A6C0 ; border-radius: 16px;text-align: center; }
.search{color: #fff;background: #117cca;text-decoration: none;}
.aBtn:hover{color: #fff;background: #117cca;text-decoration: none;}
.aBtn.gray{border-color: #a5a195;color: #a5a195;}
.gray:hover{border-color: #a5a195;color: #a5a195;color: #a5a195;background: none;}

/*wl闁哄秴鍢茬槐鈩冪┍椤旇姤鏆柍銉︽煛閿熻姤鏌￠敓鑺ユ煛閿熻姤鏌ㄧ槐鎴炴叏閿燂拷  */
/* .buttonBar{clear: both;text-align: center;padding: 10px 50px 10px 0;border-bottom: solid 1px #00A6C0 ;} */
.buttonBar{/* 闁告绮敮锟� 闁糕晝鍎ゅ﹢鐗堢┍閳╁啩绱栧☉鎿勬嫹 闁圭顦甸幐宕囩磼閿燂拷 闁汇劌瀚粭鍛綇鐟欏嫷鏀�*/
	clear: both;text-align: left;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 10px 50px 10px 5px;
}
/*wl闁哄秴鍢茬槐鈩冪┍椤旇姤鏆柍銉︽煛閿熻姤鏌￠敓鑺ユ煛閿熻姤姊荤划銊╁级閿燂拷  */
.costWrap{margin: 5px 0 10px;}
.costHd{ border-radius:6px;border:1px solid #ddd;padding:0 10px;height: 30px;line-height: 30px;color: #333;background: #FAFAFB ;}
.costHd label{font-weight: normal;margin-right: 10px;}
.costHd label input[type=radio]{vertical-align: -3px;*vertical-align: 0;margin-right: 3px;}
.costHd ul{display: inline-block;}
.costHd li{height: 30px;width:80px;text-align:center;color:#00A6C0;border-bottom:3px solid #00A6C0; }
.costHd .kv{float: right;margin:1px 20px 0 0;}
.costHd .kv > label{color: #FFFFFF;}
.costHd .kv input[type=text],.costHd .kv select{height: 22px;width: 160px;}
.costBd{
	margin:5px 1px 0;
	position:relative;
	padding-left:215px;
	border:1px solid #ddd;
	border-radius:6px;
}
.costBd .ztreeWrap{
	position:absolute;left:0;bottom:0;top:0;
	min-width: 215px;border-right: solid 1px #ddd ;
	background: #FFFFFF;z-index:10;max-width:785px;
	box-sizing:border-box;
}
/*wl闁哄秴鍢茬槐鈩冪┍椤旇姤鏆柍銉︽煛閿熻姤鏌￠敓鑺ユ煛閿熻姤鏌ㄧ槐鎴炴叏閿燂拷  */
.costBd .searchWrap{/*闁猴拷閹佷海闂傦拷濠婂懏鐣遍柣鏍硾閸樻挾妲愰敓锟�*/
	position:relative;
}
.costBd .searchInput{/*閺夊牊鎸搁崣鍡楊浖閸℃瑦鐣遍悗纭呮鐎癸拷*/
	width:100%;
	padding:0 22px 0 10px;
}
#infosearch{/*闁瑰吋绮庨崒锟� 闁猴拷閹佷海闂傦拷閿燂拷*/
	position:absolute;
	right:6px;
	top:6px;
}
/*wl闁哄秴鍢茬槐鈩冪┍椤旇姤鏆柍銉︽煛閿熻姤鏌￠敓鑺ユ煛閿熻姤姊荤划銊╁级閿燂拷  */
.formBox .btnBox{overflow:hidden; text-align:center; clear:both;}
.formBox .btnBox  .aBtn{float: left;}
.btnBox .kv input[type=text]{width: 80px;}

.formBox_center { float:left;}
.formBox_center .kv{float: left;}
.formBox_center .kv > label{margin-right: 10px;width: 66px;}
.formBox_center .kv input[type=text],.formBox .kv select{width: 120px;}
.formBox_center .kv.long input[type=text]{width: 448px;}
.formBox_center .kv.long label{width: 120px;}
.formBox_center .kv textarea{
	width: 300px;
	resize: none;
    border: solid 1px #e5e5e5;
    min-height: 34px;
    padding:3px 5px ;
}

.formBox_center .btnBox{overflow: hidden;text-align: center;clear: both;}
.formBox_center .btnBox  .aBtn{float: left;}


/*閹煎瓨娲熼崕锟�*/
.footBar{
	position:fixed;
	left:0;right:0;bottom:0;
	text-align: center;
	padding: 10px 0 10px 10px;;
	margin-top:10px;
	border-top: solid 1px #00A6C0 ;
	overflow: hidden;
	background: #FFFFFF;
	z-index: 20;
}

/*閻炴稏鍔嶉悧鎼佸礂椤掞拷閸欙拷*/
.fixed-table-container{border-radius: 0;font-size: 12px;}
.fixed-table-container .fixed-table-header table th,.fixed-table-container .fixed-table-body tbody td{
	border:none;
}
.fixed-table-body{margin-top: -1px;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #333;font-weight:normal;}
.fixed-table-header th{
	color:#fff;
	background: #00a6c0 ;
}
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
	
	
} /* padding: 0px 0px; */
/* #table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; } */
#table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }



.costHd2 {
    padding: 0 0px;
    height: 42px;
    line-height: 32px;
    color: #FFFFFF;
}
.costHd2 ul {
    display: inline-block;
}
.costHd2 li {
    height: 33px;
    width: 73px;
    text-align: center;
    background: #00A6C0 ;
}
.costHd2 li.current {
    color: #FFFFFF;
    background: #fe6102;
}
.headerUl{
	overflow:hidden;
	margin:0;
}
.headerUl>li{
	height:40px;
	line-height:40px;
	float:left;
	padding:0 15px;
	font-size:14px;
}
.headerUl>li:hover{
	background:#f6f6f6;
}
.headerUl>li.current{
	border-bottom:3px solid #00A6C0;
}
.formBox>section>ul.conditions{
	overflow:hidden;
	margin:0;
}
.formBox>section>ul.conditions>li{
	padding-right:15px;
	float:left;
}
.formBox>section>ul.conditions>li>span{
	float:left;
	height:26px;
	line-height:26px;
	padding:0 5px;
}
.formBox>section>ul.conditions>li>input[type=text],
.formBox>section>ul.conditions>li>select{
	float:left;
	height:26px;
	width:110px;
}
.formBox .btnBar{
    padding: 0 10px 0;
    border-top:none;
}
.formBox>section>ul.conditions{
	padding:10px 0;
}
.formBox>section>ul.conditions>li{
	padding:5px 5px 5px 0;
}
.formBox>section>ul.conditions>li>span{
	float:left;
	height:26px;
	line-height:26px;
	padding:0 5px;
}
.formBox>section>ul.conditions>li>input[type=text],
.formBox>section>ul.conditions>li>select{
	float:left;
	height:26px;
	width:110px;
}
.formBox .btnBar{
    padding: 0 10px 0;
    border-top:none;
}
.formBox.person>section>ul.conditions>li{
	padding:0 5px 5px 0;
}
.formBox.person>section>ul.conditions>li>span{
	float:left;
	height:26px;
	line-height:26px;
	padding:0 5px;
	width:70px;
	text-align:right;
}
.formBox.person>section>ul.conditions>li>input[type=text],
.formBox.person>section>ul.conditions>li>select{
	float:left;
	height:26px;
	width:110px;
}
.formBox.person>section>ul.conditions{
	padding:0 0 10px 0;
}
.formBox.money>section>ul.conditions{
	padding:5px 0;
}
.formBox.money>section>ul.conditions>li>span{
	float:left;
	height:26px;
	line-height:26px;
	padding:0 5px;
	width:70px;
	text-align:right;
}
.formBox.money>section>ul.conditions>li>input[type=text],
.formBox.money>section>ul.conditions>li>select{
	float:left;
	height:26px;
	width:110px;
}