@CHARSET "UTF-8";
.infoBd .formBox {
	
}

.infoBd .kv {
	float: left;
	margin: 0 25px 10px 0;
}

.infoBd .kv input[type=text],.infoBd .kv select {
	width: 152px;
}

.kv>label {
	margin-right: 10px;
}

.infoBd {
	padding: 20px 0;
}

.child-inline-block-middle>* {
	display: inline-block;
	vertical-align: middle;
}

								/*右侧页面 重写  */
#form1 .tableLayout{/*table布局 */
	margin:0 auto;
	border-collapse:separate;
	font-size:13px;
	overflow:auto;
	width:80%;
}
#form1 .commonText{
	display:block;
	text-align:right; 
	/*padding-right:10px; */
	color:#333;
	width:70px;
}
#form1 .tableLayout tr{
	height:35px;
}
.tableLayout tr td:nth-child(3) span.commonText{
	margin-left:30px;
}

	/*表单控件 点击效果 */
input[type="text"]:focus,select:focus,textarea:focus{
   box-shadow: 0 0 8px rgb(49, 165, 247);
   border-color:transparent;
}
#form1 input[type="text"],select{
	width:100%;
	color:#333;
}
input[readonly],select:disabled{
	cursor:not-allowed;
}
input[readonly]:focus,select:focus{
	box-shadow:none;
	 border-color:#ddd;
}
select{
	cursor:pointer;
}
textarea.longTextarea{/* 沾满整个行的textarea */
	width:100%;
	
}
.infoBd .aBtn{/*右侧页面中的 按钮  */
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 20px;
	border:1px solid #0E7CC9;
	font-size:13px;
}
.infoBd .search{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.infoBd .aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.webuploader-pick {/* 上传按钮 */
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 15px;
	border:1px solid #0E7CC9;
	font-size:13px;
	top:9px;
}
#fileList{
	display:block;
}

#filePicker:hover .webuploader-pick{/* 上传按钮 */
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.file-item{	/* 上传记录 */
	overflow:hidden;
	border:none;
	margin:0 auto;
	border-bottom:1px solid #ddd;
	border-radius:0;
}
.file-item .fileName{
	height:32px;
	line-height:32px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left;
}
.file-item div.info{
	float:left;
	width:40%;
}
.file-item div.info .fileName{
	padding-left:15px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.file-item div.error{
	float:left;
	width:60%;
}
.file-item div.error .fileName{
	color:#0E7CC9;
	margin-left:30px;
}
.file-item div.error i{
	float:right;
	color:#0E7CC9;
	font-size:24px;
	top:4px;
	position:relative;
	cursor:pointer;
}
.file-item div.error i:hover{
	
	color:#5eb2ed;
	
} 

.file-item img{
	width:38px;
	height:32px;
	float:left;
	border-radius:6px;
	vertical-align:middle;
	margin-right:10px;
	cursor:pointer;
}
.file-item div.error i.fa-download{/* 下载小图标 */
	
}
.file-item div.error i.fa-trash-o{/* 删除小图标 */
	margin-left:10px;
}
.infoBd{/* 配合固定定位的按钮 */
	position:relative;
	padding-bottom: 46px;/* 与固定块.fixedBottomDiv的高度一致 */
} 
.fileUploadDiv{/*上传记录区域  */
	width:80%;
	margin:0 auto;
}
.fixedBottomDiv{/*底部固定的块  */
	position:fixed;
	width:600px;
	bottom:12px;
	box-sizing:border-box;
	background:#fff;
	height:46px;
	text-align:center;
	border-top:1px solid #ddd;
	padding-top:10px;
}
.lookInfoWrap .columnWrap{/* 溢出显示滚动条 */
	overflow-y:auto;
}
 input.form-control[readonly]{
	background:#fff;
}
input[type="text"].whiteInp{
	cursor:pointer;
}
#form1 table .textareaTr{/*第一个textarea所在行的行高  */
	height:93px;
}