body{background: #fefefe;}
#container{padding: 2px 235px 5px 20px;}
.extraBar{
	float: right;
	margin-right: -230px;
	width: 228px;
	border:solid 1px #c0c0c0;
	background: #FFFFFF;
	border-radius:5px;
}
.extraBar .extraHd{padding:0 10px;margin:-1px;height: 30px;font-size:14px;line-height: 30px;color:#FFFFFF;background: #00A6C0 ;}
.extraBar .extraBd{padding: 10px 10px 10px 20px;color: #404040;}
.extraBd > label{margin: 5px 0 15px;font-weight: normal;}
.extraBd > label em{color: #0e7cc9;}
.extraBd li{line-height: 24px;color:#ccc;}

/*娑撹缍�*/
.main{margin-right: 10px;}
.searchWrap{border: solid 1px #c0c0c0;}
.listWrap{margin-bottom: 10px;}
.listWrap .listHd{	/* 閺勫海绮忛弻銉嚄缁鎶�妞ょ敻娼伴惃鍕壉瀵拷 */
	box-sizing:border-box;
	color: #373737;
	font-family: "Microsoft YaHei";
	height:46px;
	position:relative;
}
 .listWrap .listHd>span.title{
	font-size:20px;
	height:20px;
	line-height:20px;
	float:left;
	display:block;
	margin-top:16px;
}
.listWrap .listHd .home-icon{margin-right:6px;vertical-align: -3px; *vertical-align: 0;}
.listWrap .listBd{background: #fafafb;}

/*閺屻儴顕楅弶鈥叉*/
.searchWrap{position: relative;padding: 40px 10px 8px 10px;}
.searchWrap .cornerBox{position: absolute; left:0;top:0;height:30px;width:118px;line-height:30px;text-align:center;font-size:14px;color:#fff;background: #00A6C0 ;}
.searchWrap .text{position: absolute; left:140px;top:9px;color: #0e7ec8;}
.searchWrap .text i{margin: 0 2px;}
.searchWrap .btnBar{float: right;}
.searchWrap .btnBar > .aBtn{display:inline-block;padding: 0 15px;height: 28px;border: solid 1px #0e7cc9;color: #0e7cc9;border-radius: 15px;line-height: 28px;}
.searchWrap .btnBar > .aBtn:hover{color:#fff;background: #0e7cc9;}
.searchWrap .btnBar > .search{color:#fff;background: #0e7cc9;}
.formBox{overflow: hidden;}
.searchWrap .kv{float: left;}
.searchWrap .kv > label{margin-right: 10px;}
.searchWrap .kv input[type=text],
.searchWrap .kv select{width:100px;height: 24px; line-height: 24px;box-sizing: border-box; }

/*鐞涖劍鐗�*/
.tableBox{overflow: hidden;}
.fixed-table-header{margin-right:0!important;border-bottom: none; color: #FFF;font-weight:normal;background: #00a6c0;}
.table-striped > tbody > tr:nth-child(odd){background: #eef9fe;}
.table-striped > tbody > tr{background: #FFF;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: none;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{}/* padding: 0px 0px; */

table td span.time{display:inline-block;width: 140px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }
table td span.name{display:inline-block;width: 80px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }





