@CHARSET "UTF-8";
.content{
	padding:0 5px;
	
}
.content:after{
	display:block;
	content:"";
	clear:both;
}
.fixed-table-container thead th{
	background:#00a6c0;
	color:#fff;
}
#table td{
	height:30px;
	padding:0;
}
#table td.bs-checkbox input[type="checkbox"]{
	position:relative;
	top:6px;
}
input[type="text"],select{
	width:120px;
	height:26px;
	line-height:26px;
	border:1px solid #ddd;
	color:#333;
	padding:0;
	outline:none;
	border-radius:3px;
	font-size:13px;
}
input[type="text"]:focus,select:focus,textarea:focus{
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
}
select[disabled]:focus{
    box-shadow: none;
    border-color:#ddd;
}
.commonText{
	display:inline-block;
	height:26px;
	line-height:26px;
	margin-left:15px;
}
