@CHARSET "UTF-8";
/*  */
.position-bottom{
	position:fixed;
	width:100%;
	bottom:0;
	text-align:center;
	padding:10px 0;
	height:50px;
	border-top:1px solid #ddd;
}
a:hover{
	text-decoration:none;
}
.aBtn{
	padding:5px 15px;
	display: inline-block;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #0e7cc7;
    border-radius: 15px;
    color: #0e7cc7;
    margin:0 5px;
    cursor:pointer;
}
.search{
	color:#fff;
	background:#0e7cc7;
}
.aBtn:hover{
	color:#fff;
	background:#0e7cc7;
}
table.tableLayout{
	margin:0 auto;
}
table.tableLayout span.commonText{
	display:inline-block;
	padding-left:20px;
}
table.tableLayout input[type='text'],select{
	width:120px;
	height:28px;
}
input[type="text"]:focus{
	box-shadow:0 0 5px rgba(0,0,0,0);
}