html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	/* line-height: 1.6; */
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	height: 100%;
}

input, textarea, button, a {
	outline: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
	margin: 0;
}

fieldset, legend, textarea, input {
	padding: 0;
}

ul, ol {
	padding-left: 0;
	list-style-type: none;
}

a img, fieldset {
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

audio:not ([controls] ) {
	display: none;
	height: 0;
}

pre {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-break: initial;
}

.hide {
	display: none;
}

svg:not (:root ) {
	overflow: hidden;
}

figure {
	margin: 0;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button, select {
	text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled], html input[disabled] {
	cursor: default;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

input[type=search] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
	{
	box-shadow: inset 0 0 0 1000px #fff;
	-moz-box-shadow: inset 0 0 0 1000px #fff;
	-webkit-box-shadow: inset 0 0 0 1000px #fff;
}

select {
	border-radius: 0;
	-webkit-border-radius: 0;
}

img {
	vertical-align: middle;
}

a.btn {
	text-decoration: none;
}

.btn {
	display: inline-block;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 4px 5px;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin: 3px 3px 0;
	cursor: pointer;
}
.bottomGroup{
	text-align:right;
	padding:10px 15px;;
}
.btn_send {
	background: #fff;
	color: #333;
	display: inline-block;
	padding:3px 20px;
	border:1px solid #ddd;
	margin-top:0;
	font-size:13px;
}
.btn_send:hover{
	background:#f5f5f5;
}
.talk_his {
	background-color: #0e7cc9;
	color: #fff;
}
.talk_his:active{
	background:#0A67A7;
}
.clearfix:after {
	content: ' ';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.main {
	height: 100%;
}

.main_inner {
	height: 100%;
	overflow: hidden;
}

.panel {
	position: relative;
	width: 0px;
	height: 100%;
	float: left;
	background: #2e3238;
}

/*信息*/
.box {
	position: relative;
	background-color: #F5F5F5;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}

.box_hd {
	height: 0px;
}

.box_bd {
	padding: 10px 10px 0;
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
}

.message {
	margin-bottom: 16px;
	float: left;
	width: 100%;
}

.message.me {
	float: right;
	text-align: right;
	clear: right;
}

.message .avatar {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
	cursor: pointer;
}

.message.me .avatar {
	float: right;
}

.message .nickname {
	font-weight: 400;
	padding-left: 10px;
	font-size: 12px;
	height: 22px;
	line-height: 24px;
	color: #4f4f4f;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.message .nickname .time {
	/* margin-left: 10px; */
}

.message.me .nickname {
	/* padding-right: 10px; */
}

.message.me .nickname .time {
	margin-right: 10px;
}

.message .content {
	overflow: hidden;
}

.bubble {
	max-width: 70%;
	min-height: 1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: left;
	font-size: 14px;
	border-radius: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 10px;
}

.bubble.bubble_default {
	background-color: #fff;
}

.bubble:before, .bubble:after {
	position: absolute;
	top: 14px;
	border: 6px solid transparent;
	content: " ";
}

.bubble.left:before, .bubble.left:after {
	right: 100%;
}

.bubble.left:after {
	border-right-color: #FFF;
	border-right-width: 4px;
}

.bubble.right:before, .bubble.right:after {
	left: 100%;
}

.bubble.right:after {
	border-left-color: #FFF;
}

.bubble.bubble_primary {
	background-color: #b2e281;
}

.bubble.bubble_primary.left:after {
	border-right-color: #b2e281;
	border-right-width: 4px;
}

.bubble.bubble_primary.right:after {
	border-left-color: #b2e281;
	border-left-width: 4px;
}

.bubble.bubble_primary.right.arrow_primary:before {
	border-left-color: #b2e281;
	border-left-width: 4px;
}

.bubble.bubble_primary.right.arrow_primary:after {
	border-left-color: #fff;
	border-left-width: 4px;
	margin-left: -2px;
}

.bubble.no_arrow {
	background-color: transparent;
}

.bubble.no_arrow:before, .bubble.no_arrow:after {
	display: none;
}

.bubble_cont {
	word-wrap: break-word;
	word-break: break-all;
	min-height: 25px;
}

.bubble_cont img {
	vertical-align: middle;
}

.bubble_cont .plain {
	padding: 9px 13px;
	background:#fff;
}

.bubble_cont .plain .qqface{
	border:none;
}

.bubble_cont .picture {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.bubble_cont .picture img {
	display: block;
	cursor: pointer;
	max-width: 100%;
}

.box_ft {
	background-color: white;
	padding: 0 6px;
	border-top: 1px solid #ECECEC;
}

.box_ft_hd {
	display:block;
	overflow:hidden;
}
.box_ft_hd>a{
	float:left;
}
.box_ft_hd .eaitWrap {
	flex: 1;
	padding-bottom: 5px;
}

.box_ft_hd .editArea {
	overflow-y: auto;
	overflow-x: hidden;
	outline: 0;
	border-bottom: 1px solid #ababab;
	font-size: 14px;
	padding: 0 5px;
	max-height: 2em;
	line-height: 1.4;
	margin-top: 5px;
	height:150px;
}
#editArea{
	height:100%;
}
.web_wechat_face {
	background: url(../../image/kqdsFront/wechat/chat/ico.png) 0 -805px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
}

.web_wechat_pic {
	background: url(../../image/kqdsFront/wechat/chat/ico.png) 0 -1638px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin: 0px 3px;
}

.exp_hd {
	overflow: hidden;
	background-color: #F2F2F2;
}

.exp_hd_item {
	float: left;
}

.exp_hd_item.active {
	background-color: #fff;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}

.exp_hd_item a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 5px 10px;
	font-size: 14px;
}

.exp_bd {
	overflow: auto;
	background-color: #fff;
}

.exp_cont {
	display: none;
	/* height: 200px; */
	min-height:150px;
	overflow-x: hidden;
	overflow-y: auto;
	width:357px;
	box-sizing:content-box;
}

.exp_cont.active {
	display: block;
}

.eaitWrap .qqface {
	border: 0;
}

/*信息end*/

/*表情*/
.qqface {
	float: left;
	font-size: 0;
	text-indent: -999em;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	cursor: pointer;
	background: url(../../image/kqdsFront/wechat/chat/face1.png) top left no-repeat;
	width: 21px;
	height: 21px;
	display: inline;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
button.qqface{
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
}
.qqface0 {
	background-position: 0 0;
}

.qqface1 {
	background-position: -24px 0;
}

.qqface2 {
	background-position: -48px 0;
}

.qqface3 {
	background-position: -72px 0;
}

.qqface4 {
	background-position: -96px 0;
}

.qqface5 {
	background-position: -120px 0;
}

.qqface6 {
	background-position: -144px 0;
}

.qqface7 {
	background-position: -168px 0;
}

.qqface8 {
	background-position: -192px 0;
}

.qqface9 {
	background-position: -216px 0;
}

.qqface10 {
	background-position: -240px 0;
}

.qqface11 {
	background-position: -264px 0;
}

.qqface12 {
	background-position: -288px 0;
}

.qqface13 {
	background-position: -312px 0;
}

.qqface14 {
	background-position: -336px 0;
}

.qqface15 {
	background-position: 0 -24px;
}

.qqface16 {
	background-position: -24px -24px;
}

.qqface17 {
	background-position: -48px -24px;
}

.qqface18 {
	background-position: -72px -24px;
}

.qqface19 {
	background-position: -96px -24px;
}

.qqface20 {
	background-position: -120px -24px;
}

.qqface21 {
	background-position: -144px -24px;
}

.qqface22 {
	background-position: -168px -24px;
}

.qqface23 {
	background-position: -192px -24px;
}

.qqface24 {
	background-position: -216px -24px;
}

.qqface25 {
	background-position: -240px -24px;
}

.qqface26 {
	background-position: -264px -24px;
}

.qqface27 {
	background-position: -288px -24px;
}

.qqface28 {
	background-position: -312px -24px;
}

.qqface29 {
	background-position: -336px -24px;
}

.qqface30 {
	background-position: 0 -48px;
}

.qqface31 {
	background-position: -24px -48px;
}

.qqface32 {
	background-position: -48px -48px;
}

.qqface33 {
	background-position: -72px -48px;
}

.qqface34 {
	background-position: -96px -48px;
}

.qqface35 {
	background-position: -120px -48px;
}

.qqface36 {
	background-position: -144px -48px;
}

.qqface37 {
	background-position: -168px -48px;
}

.qqface38 {
	background-position: -192px -48px;
}

.qqface39 {
	background-position: -216px -48px;
}

.qqface40 {
	background-position: -240px -48px;
}

.qqface41 {
	background-position: -264px -48px;
}

.qqface42 {
	background-position: -288px -48px;
}

.qqface43 {
	background-position: -312px -48px;
}

.qqface44 {
	background-position: -336px -48px;
}

.qqface45 {
	background-position: 0 -71px;
}

.qqface46 {
	background-position: -24px -71px;
}

.qqface47 {
	background-position: -48px -71px;
}

.qqface48 {
	background-position: -71px -71px;
}

.qqface49 {
	background-position: -96px -71px;
}

.qqface50 {
	background-position: -120px -71px;
}

.qqface51 {
	background-position: -144px -71px;
}

.qqface52 {
	background-position: -168px -71px;
}

.qqface53 {
	background-position: -192px -71px;
}

.qqface54 {
	background-position: -216px -71px;
}

.qqface55 {
	background-position: -240px -71px;
}

.qqface56 {
	background-position: -264px -71px;
}

.qqface57 {
	background-position: -288px -71px;
}

.qqface58 {
	background-position: -312px -71px;
}

.qqface59 {
	background-position: -336px -71px;
}

.qqface60 {
	background-position: 0 -96px;
}

.qqface61 {
	background-position: -24px -96px;
}

.qqface62 {
	background-position: -48px -96px;
}

.qqface63 {
	background-position: -72px -96px;
}

.qqface64 {
	background-position: -96px -96px;
}

.qqface65 {
	background-position: -120px -96px;
}

.qqface66 {
	background-position: -144px -96px;
}

.qqface67 {
	background-position: -168px -96px;
}

.qqface68 {
	background-position: -192px -96px;
}

.qqface69 {
	background-position: -216px -96px;
}

.qqface70 {
	background-position: -240px -96px;
}

.qqface71 {
	background-position: -264px -96px;
}

.qqface72 {
	background-position: -288px -96px;
}

.qqface73 {
	background-position: -312px -96px;
}

.qqface74 {
	background-position: -336px -96px;
}

.qqface75 {
	background-position: 0 -120px;
}

.qqface76 {
	background-position: -24px -120px;
}

.qqface77 {
	background-position: -48px -120px;
}

.qqface78 {
	background-position: -72px -120px;
}

.qqface79 {
	background-position: -96px -120px;
}

.qqface80 {
	background-position: -120px -120px;
}

.qqface81 {
	background-position: -144px -120px;
}

.qqface82 {
	background-position: -168px -120px;
}

.qqface83 {
	background-position: -192px -120px;
}

.qqface84 {
	background-position: -216px -120px;
}

.qqface85 {
	background-position: -240px -120px;
}

.qqface86 {
	background-position: -264px -120px;
}

.qqface87 {
	background-position: -288px -120px;
}

.qqface88 {
	background-position: -312px -120px;
}

.qqface89 {
	background-position: -336px -120px;
}

.qqface90 {
	background-position: 0 -144px;
}

.qqface91 {
	background-position: -24px -144px;
}

.qqface92 {
	background-position: -48px -144px;
}

.qqface93 {
	background-position: -72px -144px;
}

.qqface94 {
	background-position: -96px -144px;
}

.qqface95 {
	background-position: -120px -144px;
}

.qqface96 {
	background-position: -144px -144px;
}

.qqface97 {
	background-position: -168px -144px;
}

.qqface98 {
	background-position: -192px -144px;
}

.qqface99 {
	background-position: -216px -144px;
}

.qqface100 {
	background-position: -240px -144px;
}

.qqface101 {
	background-position: -264px -144px;
}

.qqface102 {
	background-position: -288px -144px;
}

.qqface103 {
	background-position: -312px -144px;
}

.qqface104 {
	background-position: -336px -144px;
}


.qqface105 {
	background-position: -0px -168px;
}

/*表情end*/
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #c3c3c3;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
/*wl   �����ʽ  */
.main{
	width:70%;
	float:right;
	
}
.roleChoice{/* �����б� */
	width:30%;
	float:left;
	height:100%;
	
}
.roleChoiceUl{
	
}
.roleChoiceUl li{
	/* background:deepskyblue; */
	overflow:hidden;
	padding:5px 10px;
}
.roleChoiceUl li:hover{
	background:#D9D8D8;
}
.roleChoiceUl li:hover .roleChoiceUl .rightDiv{
	background:#3A3F45;
}
.roleChoiceUl li.now{
	background:#C6C6C6;
}
.roleChoiceUl .leftDiv{/*���ѵ�ͷ������ */
	float:left;
	width:40px;
	height:40px;
	background:palegreen;
}
.roleChoiceUl .leftDiv img{
	width:100%;
	height:100%;
}
.roleChoiceUl .rightDiv{/*������������ */
	padding-left:40px;
	height:100%;
	
}
.roleChoiceUl .rightDiv span.rightDivText,.roleChoiceUl .rightDiv span.rigihtDivmessage{
	display:block;
	padding:0 5px;
	height:20px;
	line-height:20px;
	box-sizing:border-box;
	overflow:hidden;
	text-overflow:ellipsis;/* ���ʱ��ʾʡ�Ժ� */
    white-space: nowrap;/* ������ */
    word-wrap: normal;/* �����������  word-wrap:break-word; ���?���۶�*/
   
}
.rightDivText{/* ���� */
	color:#333;font-size:14px
}
.rigihtDivmessage{ /*�����������Ϣ����   */
	font-size:12px;color:#989898;
}
.eaitWrap{/* ��������С�߶� */
	height:150px;
    overflow-y: auto;
}
.eaitWrap pre{/* ������ */
	outline:none;
	word-break:break-all;
}
.eaitWrap  img{
	float:none;
}
.box_ft{/*������Ԫ��*/
	position:relative;
}
.box_ft_bd{/* ������� �����Ԫ�� */
	position:absolute;
	bottom:100%;
	left:0;
	border:1px solid #ddd;
}
.plain img{
	float:none;
}
.newsItem{
	padding:10px 10px;
	background:#fff;
	border-radius:6px;
	width:260px;
}
.newsItem span.newsTitle,.newsItem p.newsgrey{
	display: block;
	/* overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis; */
}
.newsTitle{
	color:#333;
	font-size:15px;
}
.newsgrey{
	color:#777;
	font-size:12px;
}
.newsImg{
	width:100%;
	height:160px;
	overflow:hidden;
}
.newsImgTitle{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
/* 	
	height:40px;
	line-height:40px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis; 
*/
    background: rgba(25, 23, 23, 0.6);
	color:#fff;
	font-size:14px;
	padding:8px 10px;
	box-sizing:border-box;
	
}
.newsImg img{
	max-width:100%;
}
@font-face
{
    font-family: FontAwesome;
    src: url('../fonts/fontawesome-webfont.ttf'),
    url('../fonts/fontawesome-webfont.eot'); /* IE9 */
}
.pictureIcon{
	font-family: 'FontAwesome';
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
    margin-right:0;
    cursor:pointer;
    float: left;
    font-size:25px;
    color:#777;
    margin:3px 6px 0 3px;
}
.icon-picture:before{
	content:'\f03e';
}