ul{
    list-style: none;
}
i{
    font-style: normal;
}
button{
    margin:0;
    padding:0;
    outline:none;
    border:none;
}
.kqds-header{
    /* color:#fff;
    background:#629BD5; */
    color:#333;
    background:#fff;
    border-bottom: 2px solid #ddd;
}
.kqds-header .titleText{
    height:50px;
    line-height:50px;
    text-align: center;
    color:#777;
	
}
.kqds-header .titleText img{
	width: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.kqds-content{
    background:#f0f0f0;
    overflow-y:auto;
    position:relative;
}
.kqds-content:before{
    display:table;
    content:"";
    clear:both;
}
.kqds-content:after{
    display:table;
    content:"";
    clear:both;
}
.kqds-panel{    
    width:80%;
    margin:10px auto 15px;
}
.kqds-panel-header{ 
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    overflow:hidden;
    background:#00A6C0;
    color:#fff;
    font-size:18px;
}
.kqds-panel-content{
    position:relative;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    overflow:hidden;
    border:1px solid #ddd;
    border-top:none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.28);
    font-size:17px;
    background:#fff;
}
.kqds-panel .dataName{ 
    width:40%;
    text-align:center;
    display:block;
    height:35px;
    line-height:35px;
    float:left;
}
.kqds-panel .dataValue{ 
    width:60%;
    text-align:center;
    display:block;
    height:35px;
    line-height:35px;
    float:left;

}
.kqds-panel-header .dataName{
    font-weight:bold;
}
.kqds-panel-content .dataName{  
    height:28px;
    line-height:28px;
    color:#333;
}
.kqds-panel-content .dataValue{
    box-sizing:border-box;
    height:28px;
    line-height:28px;
    color:#333;
}
@media screen and (max-width:420px){
    .kqds-panel{            
        width:90%;
    }
    .kqds-panel-content .dataValue{
        padding-right:1.8em;    
    }
}
.kqds-panel-content .detailText{
    position:absolute;
    font-size:12px;
    color:#aaa;
    margin-right:5px;
    bottom:5px;
    right:0;
}
                                
@font-face
{
    font-family: FontAwesome;
    src: url('../fonts/fontawesome-webfont.ttf'),
    url('../fonts/fontawesome-webfont.eot'); /* IE9 */
}
.icon{  
    display:block;
    float:left;
    width:40px;
    height:50px;
    line-height:50px;
}
.icon-leftArrow {   
    /* font-family: 'FontAwesome';
    font-size:25px;
    color:#fff; */
    background:url("../../image/kqdsFront/wechat/images/back.png");
}
.icon-leftArrow:before {     
    /* content: '\f112'; */
}

.icon-user{
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-user:before{
    content:'\f007';
}
.icon-square{   
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-square:before{
    content:'\f0fe';
}
.icon-bars{
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-bars:before{
    content:'\f0c9';
}
.icon-doctor{
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-doctor:before{
    content:'\f0f1';
}
.icon-circle{/*Բ*/
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-circle:before{
    content:'\f111';
}
.icon-time{
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-time:before{
    content:'\f017';
}
.icon-location{/**/
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-location:before{
    content:'\f041';
}
.icon-phone{
    font-family: 'FontAwesome';
    color:steelblue;
    font-size:17px;
}
.icon-phone:before{
    content:'\f095';
}

.icon-pencil{
    font-family: 'FontAwesome';
    color:#fff;
    font-size:18px;
}
.icon-pencil:before{
    content:'\f040';
}
.listForm-Icon{
    vertical-align: baseline;
    display:inline-block;
    width:20px;
    height:21px;
    line-height:21px;
    margin-right:5px;
    background:#00A6C0;
    color:#fff;
    text-align: center;
    border-radius:3px;
}

.titleTextFont{
    margin:0 auto;
    display: block;
    width:6em;
    color:#333;
    font-size:16px;
}
@media screen and (max-width:400px){
    .titleTextFont{
        font-size:20px;
    }
}
                   
.kqds-listForm{
    width:96%;
    margin:10px auto;
    background:#fff;
    border-radius:3px;
    border:1px solid #f5f5f5;
    box-shadow:0 2px 3px rgba(0,0,0,0.28)

}
.kqds-listForm:before{
    display:table;
    content:"";
    clear:both;
}
.kqds-listForm:after{
    display:table;
    content:"";
    clear:both;
}
.kqds-listForm li{
    padding:5px 0;
    overflow:hidden;
    font-size:16px;
    border-bottom:1px dotted #61c1ef;
}
.kqds-listForm li:last-child{
    border-bottom:none;
}
.kqds-listForm li i{/**/
    /*color:#007aff;*/
}
.kqds-listForm-li-dataName{
    float:left;
    width:30%;
    height:26px;
    line-height:26px;
    box-sizing:border-box;
    text-align: right;
    color:#3d4145;
}
.kqds-listForm-li-dataValue{
    float:left;
    width:70%;
    height:26px;
    line-height:26px;
    box-sizing:border-box;
    text-align: center;
    font-size:15px;
    color:#333;
}
@media screen and (max-width:376px){
    .kqds-listForm-li-dataName{
        font-size:14px;

    }
    .kqds-listForm-li-dataValue{
        font-size:14px;

    }
}
@media screen and (max-width:350px){
    .kqds-listForm-li-dataName{
        font-size:12px;

    }
    .kqds-listForm-li-dataValue{
        font-size:12px;

    }
}
.kqds-listForm-li-dataValue.successText{
    color:#04BE02;
}
.kqds-listForm-li-dataValue.warningText{
    color:crimson;
}


.kqds-btn-normal{
    width:160px;
    height:40px;
    border-radius:6px;
    font-size:17px;
}
.kqds-btn-small{
    width:80px;
    height:35px;
    border-radius:6px;
    font-size:14px;
}
.kqds-btn-danger{
    background:crimson;
    color:#fff;
    border:1px solid #ddd;
}
.kqds-btn-danger:active{
    background:maroon;
}
.kqds-btn-common{
    background:dodgerblue;
    color:#fff;
    border:1px solid #ddd;
}
.kqds-btn-common:active{
    background:midnightblue;
}
.kqds-layout-grayDiv{   
    display:none;
    /*display:block;*/
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.66);
}
.kqds-layout-content{
    position:absolute;
    top:20%;
    left:5%;
    width:90%;
    background:#fff;
    border-radius:6px;
    padding-bottom:0.5em;
    font-size:14px;
    color:#666;
}
.kqds-quit{     
    display:block;
    position:absolute;
    width:28px;
    height:28px;
    line-height:23px;
    background:rgba(84, 82, 82, 0.96);
    color:#fff;
    text-align: center;
    border-radius:50%;
    right:-15px;
    top:-15px;
    border:2px solid #fff;
    font-size:32px;
}
.kqds-layout-titleText{
    padding-left:.6em;
    background:#10AEFF;
    color:#fff;
    height:40px;
    line-height:40px;
    font-size:17px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}




.kqds-personal{
    /* background:royalblue; */
    overflow:hidden;
    padding:50px 0 60px;;
    background-image:url("../../image/kqdsFront/wechat/images/individualTop.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.kqds-personal .kqds-personal-leftDiv,.kqds-personal .kqds-personal-rightDiv{
    float:left;
}
.kqds-personal .kqds-personal-leftDiv{
    width:35%;
}
.kqds-personal-img{
    display:block;
    margin:0 auto;
    width:55%;
    border-radius:50%;
}
.kqds-personal .kqds-personal-rightDiv{
    width:65%;
    padding-top:10px;
}
.kqds-personal-rightDiv-name{
    font-size:16px;
    color:#fff;
}
.kqds-personal-rightDiv-text{
    font-size:13px;
    color:#fff;
}
@media screen and (min-width:370px) {
    .weui-cells{
        font-size:17px;
    }
    .weui-cells p{
        padding:2px 0;
    }
    .weui-cell_access .weui-cell__ft:after{

    }
    .kqds-personal-rightDiv-name{
        font-size:18px;
    }
    .kqds-personal-rightDiv-text{
        font-size:14px;
    }
}
@media screen and (min-width:400px) {
    .weui-cells{
        font-size:18px;
    }
    .weui-cells p{
        padding:5px 0;

    }
    .weui-cell_access .weui-cell__ft:after{
        width:9px;
        height:9px;
    }
    .kqds-personal-rightDiv-name{
        font-size:20px;
    }
    .kqds-personal-rightDiv-text{
        font-size:16px;
    }
}

                                
.kqds-aboutus{
    background:#fff;
    padding-bottom:20px;
}
.kqds-aboutus-banner{

    color:limegreen;
    font-size:34px;
    text-align:center;
    padding:30px 0;
}
.kqds-aboutus-title{    
    padding:2px 10px;
}
.kqds-aboutus-title h3{
    /*font-weight: normal;*/
    text-align: justify;
    color:#333;

}
.kqds-aboutus-text{
    padding:0 10px;
    text-align: justify;
    color:#333;
}
.kqds-aboutus-text p{
    text-indent: 2em;
}
.kqds-aboutus-imgs{
    padding:0 25px;
}
.kqds-aboutus-imgs img{
    max-width:100%;
    display:block;
}

                    
.kqds-costdetaillist{
    padding:0 1.2em;
    margin-top:1em;
    overflow:hidden;
}
                    
.kqds-costdetail{
    padding:0 0.1em 2em;
    margin-top:1em;
}
.kqds-costdetaillist .weui-form-preview{
	border-radius:6px;
	overflow:hidden;
}
.kqds-costdetail .weui-form-preview__label{
    width:5em;
    /*text-align: right;*/
    /*margin-right:0;*/
}
.kqds-costdetail .weui-form-preview__value{
    text-align:center;
}



.kqds-binglilist{
    padding:0 1.2em;
    margin-top:1em;
    border-radius:6px;
}
.kqds-binglilist .kqds-binglilist-header{
    padding:6px 15px 0;
    border-bottom:1px solid #9999A6;
}
.kqds-binglilist .kqds-binglilist-header .kqds-binglilist-header-text{
    font-size:19px;
    color:#777;
}
.kqds-binglilist .weui-form-preview__value{
    text-align: center;
}

.kqds-binglidetail{
    padding:0 0.1em 2em;
    margin-top:1em;
}
.kqds-binglidetail .weui-form-preview__label{
    width:5em;
    /*text-align: right;*/
    /*margin-right:0;*/
}
.kqds-binglidetail .weui-form-preview__value{

}


.yuyueIcon{
	font-family: 'FontAwesome';
	display:block;
    width:44px;
    height:40px;
    line-height:40px;
    font-size:18px;  
    text-align:center;
}
/* .icon-user:before{	
    content:'\f007';
} */
.icon-mobile:before{
	content:'\f10b';
}
.icon-controlPhone:before{
	content:'\f2a0';
}
.icon-calendar:before{
	content:'\f073';
}
.icon-tag:before{
	content:'\f02c';
}
.icon-hospital:before{
	content:'\f0f8';
}
.icon-doctors:before{
	content:'\f0f0';
}
.kqds-yuyue-fatherDiv{
	padding:5px 5px;
	background:#fff;
	margin-top:15px;
}
.kqds-yuyue-itemDiv{
	/* height:50px; */
	overflow:hidden;
}
.kqds-yuyue-itemDiv-leftDiv{
	float:left;
	width:44px;
	height:100%;
	/* background:deepskyblue; */
}
.kqds-yuyue-itemDiv-rightDiv{
	margin-left:44px;
	/* height:50px; */
	border-bottom:1px solid #ddd;
	overflow:hidden;
	/* background:mediumSpringGreen; */
}
.yuyue-text{
	float:left;
	height:40px;
	line-height:40px;
	font-size:15px; 
	width:100px;
}
.yuyue-component{
	display:block;
	margin-left:100px;
	position:relative;
	padding-right:30px;
	overflow:hidden;
}
.yuyue-trangleR{
	
}
.yuyue-trangleR:after{
	content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    /* -webkit-transform: matrix(.71,.71,-.71,.71,0,0); */
    transform: matrix(.71,.71,-.71,.71,0,0);
    /* position: relative;
    top: -2px; */
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
}
.yuyue-component input[type=text]{
    height: 40px;
    width: 130px;
    float: right;
    text-align: right;
    color:#AEAEAE;
    font-size:15px; 
}
.yuyue-component select{
	height:40px;
	float:right;
	width:auto;
	color:#AEAEAE;
	font-size:15px; 
}
.yuyue-component textarea{
	float:right;
	width:100%;
	color:#757575;
	font-size:15px;
}
.kqds-yuyue-choice{
	margin-left:40px;
	/* min-height:40px; */
	overflow:hidden;
	/* background:deepskyblue; */
}
ul.kqds-yuyue-choice{
	width:80%;
}
ul.kqds-yuyue-choice li{
	float:left;
	padding:0 10px;
	height:24px;
	line-height:24px;
	font-size:15px;
	margin:2px 2px; 
	border-radius:14px;
	border:1px solid #AEAEAE;
	color:#AEAEAE;
}
ul.kqds-yuyue-choice li.dodgerblue{
	background:dodgerblue;
	color:#fff;
	border:1px solid dodgerblue;
}
div.kqds-yuyue-choice textarea{
	padding-top:5px;
	resize:none;
	width:100%;
	height:80px;
	border:none;
	font-size:15px;
	color:#757575;
}
.yuyue-btn{
	width:95%;
    display: block;
	margin:5px auto;
	border-radius:6px;
	height:40px;
	line-height:40px;
	background:dodgerBlue;
	border:1px solid dodgerBlue;
	color:#fff;
	font-size:16px;
}
.yuyue-btn:active{
	background:#2183E5;
	border:1px solid #2183E5;
}
.yuyue-btn:disabled{
	border:1px solid #ddd;
	background:#ddd;
}
				
.kqds-content-fatherDiv{
	background:#fff;
	padding:5px 0;
	margin-top:10px;
}
.kqds-content-sonDiv{
	overflow:hidden;
	padding:0 10px;
}
.content-time-left{
	height:46px;
	line-height:46px;
}	
.content-time-right{
	float:right;
	height:46px;
	line-height:46px;
	color:orange;
	font-size:16px;
}
.content-item{		
	background:#FAFAFA;
	margin-top:10px;
	padding:0 20px;
	color:#717171;
}
ul.content-item li{
	overflow:hidden;
}
.content-item-left{
	display:block;
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
}
.content-item-right{
	display:block;
	margin-left:100px;
	line-height:30px;
	color:#333;
}
.yuyueDetailIcon{
	font-family: 'FontAwesome';
	display:block;
    width:30px;
    height:30px;
    line-height:30px;
    font-size:18px;  
    text-align:center;
}
.content-item .yuyueDetailIcon{
	color:#D5D5D5;
}
.otherStyle .content-item{
	padding:0;background:#fff;
}
.otherStyle .content-item-left{
	width:30px;height:30px;
}
.otherStyle .content-item-right{
	line-height:30px;margin-left:30px;
}



							
.kqds-blDiv{
	/* background:#fff; */
	margin-top:10px;
	
}
.kqds-blDiv-header{
	background:#00A6C0 ;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	overflow: hidden;
}
.blDiv-header-date{
	color:#fff;
	padding-left:15px;
	height:30px;
	line-height:30px;
}
.blDiv-header-type{
	float:right;
	height:30px;
	line-height:30px;
	color:#fff;
	padding:0 15px;
	background: #4496ef;
	text-align:center;
}
.kqds-blDiv-body{
	background:#fff;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	overflow:hidden;
    padding: 5px 5px;
}
.blDiv-body-leftDiv{
	width:70px;
	height:100%;
	float:left;
	padding:10px 0 0 10px;
}
.blDiv-body-leftDiv img{
	max-width:100%;
}
.blDiv-body-rightDiv{
	margin-left:70px;
	overflow: hidden;
}
.itemText{
	font-size:18px;
	color:#333;
}
.hospitalText{
    color: #adadad;
    font-size: 14px;
}
.blDiv-body-rightDiv>div{
	overflow:hidden;
	padding:2px 0;
}
.body-rightblock{
	font-size: 14px;
    display: block;
    margin-left: 25px;
    line-height: 20px;
}
.blListIcon{
	font-family: 'FontAwesome';
    width: 20px;
    height: 20px;
    padding-right: 3px;
    font-size: 18px;
    text-align: center;
    float: left;
    position:relative;
    top:-5px;
}
.doctorText{
	font-size:16px;
	color:#333;
}
.greyfont{
	color:grey;
	font-size:12px;
}
@media screen and (max-width:330px){
	.itemText{
		font-size:16px;
		color:#333;
	}
	.hospitalText{
	    color: #adadad;
	    font-size: 12px;
	}
	.doctorText{
		font-size:14px;
		color:#333;
	}
	.blDiv-body-leftDiv{
		width:50px;
		padding-left:5px;
	}
	.blDiv-body-rightDiv{
		margin-left:80px;
	}
}














