@CHARSET "UTF-8";
html,body,.checkoutContainer{
	width:100%;
	color:#333;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:none;
}
input[type="text"],select{
	width:120px;
}
input[type="text"].fuzzyQuery{
	width:140px;
}
input[type="text"].whiteInp{/*白色输入框 */
	cursor:pointer;
}
.tableLayout{/*table布局 */
	border-collapse:separate;
	font-size:12px;
}


		/* input textarea select 用户体验效果  */
		
input[type="text"]:focus,select:focus,textarea:focus{
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
}
input[readonly]:focus{
    box-shadow: none;
    border-color:#ddd;
}
input[readonly],input[disabled]{/*只读的input*/
	background:rgba(246, 246, 246, 0.42);
	cursor:not-allowed;
}
input[type="text"].greyInp{/* 灰色输入框 */
	background:#eee;
	cursor:pointer;
}
input[type="text"].whiteInp{/*白色输入框 */
	cursor:pointer;
}
input[readonly]{
	cursor: not-allowed;
}

select[disabled]{
	cursor: not-allowed;
}

		/* 本页面 所有按钮的基础样式 */	
.aBtn{
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 8px;
	border:1px solid #0E7CC9;
	margin:0 10px;
	font-size:13px;
}
.search{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}

.table-striped > tbody > tr:nth-child(odd) {/* 清单中信息 奇数行为蓝色底   */
    background: #eef9fe;
}
							/* 以上为通用样式 */
.refundRequestContanier{		/*退款申请页面 */
	padding:5px 0 0;
	/*margin-bottom:50px; */
	/* height:410px; */
	overflow-y:auto;
}
.commonSpan{
	display:inline-block;
	height:28px;
	line-height:28px;
	padding:0 5px;
}
.titleText{/*蓝字标题  */
	display:block;
	padding:0 2px;
	margin-bottom:2px;
	height:28px;
	line-height:28px;
	color:#0E7CC9;
	border-bottom:1px solid #0e7cc9;
	font-size:14px;
}
.headerDiv{					/* 首行headerDiv */
	margin:0 15px;
	padding:5px 0 10px;
	/* border-bottom:1px solid #0E7CC9; */
}
.fuzzyQuery{
	margin-right:10px;
}
.headerDiv .aBtn{/* 首行中的按钮样式 */
	width:70px;
	height:26px;
	line-height:26px;
}
.headerDiv .fuzzyQuerySpan{
	margin-left:20px;
}
						/* 首行sectionDiv */
.sectionDiv{
	margin:0 15px;
}
									/* footer */
								/*底部固定定位的div 存放三个按钮*/
.fixedBottomDiv{
	position:fixed;
	bottom:0;
	width:100%;
	box-sizing:border-box;
	background:#fff;
	height:50px;
	text-align:center;
	padding-top:10px;
	border-top:1px solid #ddd;
}
.fixedBottomDiv>.aBtn{/* 清空 确认 取消 按钮样式 */
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	width:90px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 5px;
	border:1px solid #0E7CC9;
	margin:0 10px;
	font-size:12px;
}
.fixedBottomDiv>.search{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.fixedBottomDiv>.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}