@CHARSET "UTF-8";
html,body{
	width:100%;
	color:#333;
}

a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:none;
}

.tableLayout{/*table布局 */
	border-collapse:separate;
	font-size:12px;
	margin:0 auto;
}

		/* input textarea select 用户体验效果  */
		
input[type="text"]:focus,select:focus,textarea:focus{
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
}
input[readonly]:focus,
input[disabled]:focus,
select[disabled]:focus,
select[disabled]:focus{
    box-shadow: none;
    border-color:#ddd;
    
}
input[readonly],input[disabled],select[disabled],select[disabled]{/*只读的input*/
	background:rgba(246, 246, 246, 0.42);
	cursor:not-allowed;
	color:#777;
}
input[type="text"].whiteInp{/*白色输入框 */
	cursor:pointer;
}
select{
	cursor:pointer;
	
}

		/* 本页面 所有按钮的基础样式 */		
.aBtn{
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 8px;
	border:1px solid #0E7CC9;
	margin:0 10px;
	font-size:13px;
}
.search{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
/* .table-striped > tbody > tr:nth-child(odd) {清单中信息 奇数行为蓝色底  
    background: #eef9fe;
} */

.commonText{	/*信息数据项 样式 */
	display:block;
	margin-left:28px;
	text-align:right;
	position:relative;
	padding-right:5px;
}
input[type="text"],select{
	width:160px;
}
									/* footer */
/*底部固定定位的div 存放三个按钮*/
.fixedBottomDiv{
	position:fixed;
	bottom:0;
	width:100%;
	box-sizing:border-box;
	background:#fff;
	height:50px;
	text-align:center;
	padding-top:10px;
	border-top:1px solid #ddd;
}
.fixedBottomDiv>.aBtn{/* 清空 确认 取消 按钮样式 */
	display:inline-block;
	color:#0E7CC9;
	background:#fff;
	height:28px;
	/* width:90px; */
	line-height:28px;
	border-radius:16px;
	text-align:center;
	padding:0 25px;
	border:1px solid #0E7CC9;
	margin:0 10px;
	font-size:13px;
}
.fixedBottomDiv>.search{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
.fixedBottomDiv>.aBtn:hover{
	cursor:pointer;
	color:#fff;
	background:#0E7CC9;
}
						/*—————————————————— 以上为表格页面通用样式 ————————————————————  */
						
						/*———————————————————— 会员办理页面——————————————————*/
.memberAddContainer{/*会员卡办理页面容器 */
	padding:10px 0 0;
	height:330px;
	overflow-y:scroll;
}
#defaultForm{/* 表单 */
	
}
.memberAddContainer table.tableLayout{/* table布局 居中*/
	margin:0 auto;
}
.memberAddContainer table.tableLayout tr td:nth-child(3){/*第二列与第三列的距离  */
	padding-left:40px;
}
.memberAddContainer table.tableLayout tr{/*行高  */
	height:35px;
}
.shortSel{	/* 付款方式select的样式 */
	width:75px;
}
input[type="text"].longInp{/* 付款方式Input的样式 */
	width:81px;
}
.btn-sm{/* + -号的样式  */
	padding:2px 6px;
}
						/*充值页面  */ 
.chongzhiContainer{
	padding:10px 0 34px;
	overflow-y:scroll;
	height:216px;
}

.chongzhiContainer tr{
	height:29px;
}
.chongzhiContainer input[type="text"],.chongzhiContainer select{
	width:80px;
}
.chongzhiContainer input[type="text"].beizhuInp{
	width:554px;
}
.chongzhiContainer .fixedBottomDiv{
	height:44px;
}
.chongzhiContainer .fixedBottomDiv>.aBtn{
	height:24px;
	line-height:24px;
}

