/*body,.about-d{width: expression(document.body.clientWidth <= 1270? "1270px": "auto");min-width: 1270px;}*/
body, button, input, select, textarea {
	margin: 0px;
	padding: 0px;
	color: #000;
}
header, footer, menu, nav, section {
	display: block;
}
ul, li {
	list-style: none;
}
body {
	margin: 0 auto;
	background: #FFFFFF;
	font-size: 100%;
	-webkit-text-size-adjust: none;
}
input, textarea {
	outline: none;
}
textarea {
	display: block;
	overflow: auto;
	resize: none;
}
p, ul, dl, dt, dd {
	padding: 0px;
	margin: 0px;
}
b, th {
	font-weight: normal;
}
i, em {
	font-style : normal;
}
u, a, s {
	text-decoration: none;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
a {
	text-decoration: none;
	color: #666;
	outline:none;
	-webkit-transition:all 0.6s; -moz-transition:all 0.6s; -o-transition:all 0.6s; transition: all 0.6s;
}
h1, h2, h3 {
	margin: 0;
	font-size: inherit;
	font-weight: normal;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  height: 25px;
  background-color: #999;
  border-radius: 10px;
  outline-offset: -2px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 0;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #c8c8c8;
}
.w{width: 1100px; margin: 0 auto;}
.clearfix::before,
.clearfix::after{
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.l_t{float: left;}
.r_t{float: right;}

.cd{width: 1200px; margin: 0 auto;}
