@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	font-size: 16px; 
	/* line-height: 30px; */
}
/* 内容 */
#anamnesis_continer{
	/* border:1px solid red; */
}
#anamnesis_continer ul,ol{
	margin: 0px;
	padding: 0px;
}
#anamnesis_continer label{
	margin-bottom: 0px;
	font-weight: normal;
}
/* 字体设置 */
#anamnesis_continer span{
	/* font-weight: normal; */
	font-weight: bold;
}
/*行*/
#anamnesis_continer>.row{
	width:100%;
	margin: 0px;
	padding: 0px;
	/* margin-bottom: 5px; */
	overflow: hidden;
}
/* 栅格布局自定义样式 */
#anamnesis_continer>.row>.colDefined{
	/* height:50px; */
	float:left;
	display:flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	/* margin-bottom: 5px; */
}
/* input{
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-o-appearance: none; 
	appearance: none;
	outline: none;
} */
/* 输入框 */
#anamnesis_continer input[type="text"]{
	height:24px;
	background-color: transparent;
	border: 1px solid #c3c3c3;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: none;
	text-align: left;
    /* padding-left: 10px; */
	font-weight: bold;
	text-align: center;
}
/* 多选框 */
#anamnesis_continer input[type="checkbox"]{
	background-color: transparent;
	width:15px;
	height:15px;
	/* vertical-align: middle; */
	outline: none;
}
/* 单选框 */
#anamnesis_continer input[type="radio"]{
	background-color: transparent;
	width:15px;
	height:15px;
	vertical-align: middle;
	outline: none;
}
/* 标题div */
/* #anamnesis_continer .big_title{
	display: block;
	width:100%;
    background-color: transparent;
} */
#anamnesis_continer .bigtitle{
	display: inline-block;
	/* width:100%; */
	text-align: left;
    /* font-size: 36px;
	line-height: 36px; */
	font-size: 26px;
	line-height: 26px;
  	margin: 45px auto 35px;
  	letter-spacing: 1px;
  	font-weight: bold;
  	color:#434343;
  	padding-top: 30px;
}
/* #anamnesis_continer .big_title>span{
	display: block;
	width:100%;
	font-size: 20px;
	font-weight: 600;
	line-height:120px; 
	letter-spacing: 1px;
} */
/* 已有信息 */
.row{
	overflow: hidden;
}
.rpInfo_import{
	float: left;
	overflow: hidden;
	width:210px;
    margin-right: 0px;
}
.rpInfo_import span{
	display: block;
	float:left;
}
.rpInfo_import .alreadyInfo{
	display:block;
	float: left;
	margin-left: 5px;
	font-size: 16px;
	color: #00a6c0;
	font-weight: bold;
}
/* 问题 */
.question_twoInfo .select_item{
	overflow: hidden;
}
.question_twoInfo .select_item input{
	display:block;
	float: left;
}
.question_twoInfo .select_item label{
	display:block;
	float: left;
	margin-right: 5px;
}
/* 主诉内容 */
.mainSuitInfo{
	border-bottom: 2px solid #776c6c;
}
#anamnesis_continer .chiefComplaint{
	width:100%;
	display:flex;
	flex-direction:row;
	padding: 15px 15px 0px 0px;
	/* background-color: #ddd; */
	overflow: hidden;
	padding-bottom: 40px;
}
/* 主诉时间 */
#anamnesis_continer .chiefComplaint>.loseTooth_time{
	width: 210px;
	float:left;
}
#anamnesis_continer .chiefComplaint>.loseTooth_time>span{
	display: block;
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
}
#anamnesis_continer .chiefComplaint>.loseTooth_time>input{
	display: block;
    width: 135px;
    margin-top: 15px;
    text-align: left;
    padding-left: 5px;
}
/* 主诉牙齿选项 */
#anamnesis_continer .chiefComplaint>.loseTooth_option{
	/* width:75%; */
	float:left;
	/* display:flex;
	flex-direction:row;
	flex-wrap: wrap; */
}
#anamnesis_continer .chiefComplaint>.loseTooth_option>li{
	display:flex;
	flex-direction:row;
	/* width:25%; */
	/* width:210px; */
	float:left;
	margin-bottom: 15px;
	overflow: hidden;
}
#anamnesis_continer .chiefComplaint>.loseTooth_option>li>input[type="checkbox"]{
	display: block;
	float:left;
}
#anamnesis_continer .chiefComplaint>.loseTooth_option>li>label{
	display: block;
	float:left;
	font-weight: normal;
	margin-left: 5px;
	/* margin-top: 2px; */
	/* vertical-align: middle; */
	margin-right: 15px;
	/* line-height:12px; */ 
}
#anamnesis_continer .chiefComplaint>.loseTooth_option>li>input[type="text"]{
	width: 180px;
}
/* div共同样式 */
#anamnesis_continer .common_style{
	display:block;
	width:100%;
	/* height: 50px; */
	height: 40px;
	padding-left:10px;
	float:left;
	/* margin-right:5px; */
	display: flex;
	flex-direction:row;
}
.combgGray{
	background-color: #f5f5f5;
}
/* .bgWhite .common_style{
	background-color: white !important;
} */
/* .common_style input{
	margin-top: 15px;
} */
#anamnesis_continer .common_style span,
#anamnesis_continer .common_style label{
	margin-top: 12px;
	/* margin-left: 5px;
	margin-right: 5px;  */
	/* line-height:40px; */
	/* font-weight: normal; */
}
/* 选项div */
/* #anamnesis_continer .option_div{
	margin-right: 5px;
} */
#anamnesis_continer .option_div>label{
	display:block;
	float:left;
	margin-bottom: 0px;
	font-weight: normal;
	vertical-align: sub;
	/* margin: 0px 5px; */
	margin-left: 5px;
	margin-right: 5px;
}
#anamnesis_continer .option_div>input{
	margin-top: 15px;
	float: left;
} 
/* 时间div */
#anamnesis_continer .time_div>input{
	/* width:70%; */
	width: 60px;
	margin-top: 9px;
	margin-right: 8px;
}
#anamnesis_continer .time_div>span{
	width:20%;
	/* margin-left: 7%; */
	font-weight: normal;
}
/* 选择组合框*/
#anamnesis_continer .select_group{
	overflow: hidden;
	display: block;
}
/* 选择组合框:名字*/
#anamnesis_continer .select_group>.select_name{
	float:left;
	margin-right: 5%;
	font-weight: normal;
}
/* 选择组合框:选项*/
#anamnesis_continer .select_group>.select_item{
	float:left;
	margin-right: 10%;
}
#anamnesis_continer .select_group>.select_item>label{
	font-weight: normal;
	margin-left: 5px;
}
/* 填写组合框 */
#anamnesis_continer .fillWrite_group>span{
	/* width:35%; */
	margin-right: 10px;
}   
#anamnesis_continer .fillWrite_group>input{
	/* width:60%; */
	width: 60px;
	margin-top: 9px;
	margin-right: 8px;
}
/* 问题行*/
.question_row .question_text{
	font-size: 18px;
    font-weight: bold;
}
.question_row .colDefined{
	/* border:1px solid blue; */
}
/* 问题3选项 */
.question_row .plantTooth_reason{
	width:100%;
	overflow:hidden;
}
.question_row .plantTooth_reason li{
	float:left;
	width:33%;
	margin-bottom: 5px;
}
.question_row .plantTooth_reason li>span{
	vertical-align: middle;
}
.question_row .plantTooth_reason li>input{
	margin-left: 10px;
    margin-bottom: 5px;
}
/* 签名框 */
/* .signature_row{
	margin-top: 50px!important;
} */
/* 患者签名 */
.signature_row .signature_time{
	width:100%;
	height:50px;
	overflow: hidden;
}
.signature_row .signature_time>.signature_box{
	height:100%;
	float: left;
	width:70%;
}
.signature_row .signature_time>.signature_box>span{
	float:left;
	/* width:30%; */
    font-weight: bold!important;
    margin-top: 27px;
}
/* 签名框 */
.signature_row .signature_time>.signature_box>div{
	height:100%;
	width:65%;
	float:left;
	margin-left: 3%;
}
/* 签名时间 */
.signature_row .signature_time .signatureTime{
	float: right;
	height:100px;
	width:25%;
	margin-top: 20px;
	text-align: center;
}
/* 按钮 */
.btns{
	width:100%;
	text-align:center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.btns button{
   	font-size: 16px;
   	line-height: 34px;
   	background-color: #00A6C0;
   	font-weight: normal;
   	color: white;
   	border: 0px;
   	border-radius: 5px;
   	padding: 0px 20px;
   	letter-spacing: 1px;
}
.btns #consent_saveBtn{
	margin-right: 30px;
}
/* 常用药下拉框组合  lutian 2020/05/09 */
.selectgroup{
	height: 40px;
}
.selectgroup .groupName{
	display: inline-block;
	font-weight: normal;
	/* margin-top: 12px; */
}
.selectgroup .groupSelect{
	/* width: 135px; */
	min-width: 120px;
	font-size: 14px;
	padding-right: 10px;
    color: black;
    margin-top: 9px;
    text-align: left;
    padding-left: 5px;
    height: 24px;
    background-color: transparent; 
    border: 1px solid #c3c3c3;
    /* vertical-align: middle; */
    -webkit-appearance: none;
    outline: none;
}
