@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 30px;
}
.boxBig{
	padding: 20px;
}
/* 内容 */
.examine_continer{
	/* border:1px solid red; */ 
}
.examine_continer ul,ol{
	margin: 0px;
	padding: 0px;
}
.examine_continer label{
	margin-bottom: 0px;
}
/* 字体设置 */
.examine_continer span{
	font-weight: normal;
}
/*行*/
.examine_continer>.row{
	/* width:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden; */
}
.cavityExamine>.row{
	margin-bottom: 0px;
}
/* 栅格布局自定义样式 */
.examine_continer>.row>.colDefined{
	float:left;
	display:flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	/* margin-bottom: 5px; */
}
/* 输入框 */
.examine_continer input[type="text"]{
	height:30px;
	background-color: transparent;
	border: 1px solid #c3c3c3;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: none;
	font-weight: bold;
}
/* 多选框 */
.examine_continer input[type="checkbox"]{
	background-color: transparent;
	width:15px;
	height:15px;
	vertical-align: sub;
	outline: none;
/* 	margin-left: 8px; */
}
/* 单选框 */
.examine_continer input[type="radio"]{
	background-color: transparent;
	width:15px;
	height:15px;
	vertical-align: sub;
	outline: none;
}

.examine_continer .bigtitle{
    width: 100%;
    font-size: 26px;
    font-weight: bold;
}
/* 信息输入组合框 */
.examine_continer .rpInfo_import{
	width:100%;
}
.examine_continer .rpInfo_import>span{
	
}
.examine_continer .rpInfo_import>input{
	width:60%;
	border:0px;
	font-weight: bold;
}
/* 多选组合框 */
.examine_continer .zl_multiple{
	width:100%;
	overflow: hidden;;
}
.examine_continer .zl_multiple>span{

	 float: left;
        width: 8%;
}
.examine_continer .zl_multiple>ul{
	  width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
}
.examine_continer .zl_multiple>ul>li{
	 width: 20%;
     float: left;
}
.zl_optiondiv>input{
	margin-left: 8px;
}

/* 选项框 */
.examine_continer .zl_optiondiv{
	/* width: 100%; */
}
.examine_continer .zl_optiondiv>span{

}
/* 身体状况评估 */
.body_assess  .zl_multiple>ul>li{
	width:20%;
}
/* 多选框 */
.examine_continer .moreSelect_div{
}
.examine_continer .moreSelect_div>li{
	float:left;
	width:14%;
	
}
.examine_continer .moreSelect_div>li>input{
	margin-left: 8px;
}
/* 填写框 */
.examine_continer .zl_fillWritediv>span{
	display: inline-block;
	line-height: 20px;
}
.examine_continer .zl_fillWritediv>input{
	width: 20%;
    vertical-align: bottom;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #5b5b5b;
}
/* 牙位图 */
.examine_continer .zl_toothMapdiv{
	/* border:1px solid blue; */
}
.examine_continer .zl_toothMapdiv>span{
	margin-right: 5%;
	float: left;
	/* margin-top: 18px; */
}
.examine_continer .zl_toothMapdiv .tooth_map{
	 float: left;
    display: inline-block;
    width: 74%;
    height: 80px;
    
}
.examine_continer .zl_toothMapdiv .tooth_map>li{
	width:49%;
	height:25px;
	float:left;
}
.horizontal{
	margin: 10px 0;
	font-weight:600;
	width: 30%;
	
}
.examine_continer .zl_toothMapdiv .tooth_map>li>input{
	border:0px;
    width: 90%;
    margin-left: 5%;
    height: 25px;
    text-align: center;
}
.examine_continer .zl_toothMapdiv .tooth_map>li:FIRST-CHILD{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.examine_continer .zl_toothMapdiv .tooth_map>li:FIRST-CHILD+li{
	border-bottom: 1px solid black;
}
.examine_continer .zl_toothMapdiv .tooth_map>li:FIRST-CHILD+li+li{
	border-right: 1px solid black;
}

/* 签名框 */
.examine_continer .zl_signature{
	/* width:100%; */
}
.examine_continer .zl_signature>div{

}
/* X线所示 */
.examine_continer .tooth_xray{
}
.examine_continer .tooth_xray .zl_toothMapdiv{
	width: 74%;
}
.examine_continer .tooth_xray .zl_toothMapdiv .tooth_map{
	width:100%;
	/* margin-top: 10px; */
}
/* 填空 */
.examine_continer .tooth_xray .tooth_xrayfillWrite{
	width:70%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	flex-wrap:wrap;
}
.examine_continer .tooth_xray .tooth_xrayfillWrite>li{
	width:50%;
	min-width:200px;
	float: left;
}
/* 按钮 */
.btns{
	width:100%;
	text-align:center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.btns button{
   	font-size: 16px;
   	line-height: 34px;
   	background-color: #00A6C0;
   	font-weight: normal;
   	color: white;
   	border: 0px;
   	border-radius: 5px;
   	padding: 0px 20px;
   	letter-spacing: 1px;
}
.btns #consent_saveBtn{
	margin-right: 30px;
}




