@CHARSET "UTF-8";
					/*回访添加 回访修改 回访结果 公共样式————开始*/
html,body,.container{
	width:100%;
	height:100%;
}
.container{/* 正常容器 */
	padding:10px;
}
.containerAddEdit{ /* 添加回访  与  修改回访   的容器 需要特别调整 */
	padding:30px 10px;
}
#table{/*table布局 */
	margin:0 auto;
	border-collapse:separate;
	
}
#table input,#table select{
	width:150px;
	padding-left:5px;
	color:#333;
}
#table select{
	cursor:pointer;
}
#table input[readonly]{
	background:rgba(246, 246, 246, 0.42);
	cursor:not-allowed;
}
#table input::-webkit-input-placeholder{
	color:#ddd;
}
#table span.information{/*信息 */
	padding:0 5px;
}
#table textarea{/*回访要点内容 */
	width:100%;
	min-height:130px;
	color:#333;
}
#table tr{/*行高 用来调整行与行之间的距离 */
	height:36px;
}
/* #table tr:nth-child(5){第五行 回访要点的行高
	height:180px;
} */
#table tr>td:nth-child(3){/*第三列与第二列之间间距30px*/
	padding-left:60px;
}
.aBtn{/* 按钮样式 */
	display:block;
	width:80px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#fff;
	border:1px solid #0e7cc9;
	color:#0e7cc9;
	border-radius:16px;
	margin:0 auto;
	decoration:none;
}
.search{
	color:#fff;
	background:#0e7cc9;
}
.aBtn:hover{
	color:#fff;
	background:#0e7cc9;
}

input[type="text"]:focus,select:focus,textarea:focus{/* 可输入表单控件 获得焦点时的样式 */
    box-shadow: 0 0 8px rgb(49, 165, 247);
    border-color:transparent;
}

					/*回访添加 回访修改 回访结果 公共样式————结束*/
					
					/*添加回访 修改回访中的 textarea所在行  */
#table tr.textareaTr{
	height:153px;
}
input[type="text"].whiteInpPointer{
	cursor:pointer;
}


					/* 回访结果 与回访详情 独有样式 */
#table tr.tr_Hf{/*回访结果 回访要点  行高调整*/
	height:108px;
}

.extraExtenDetail #table textarea{
	min-height:100px;
}

