@CHARSET "UTF-8";
frame{
	background:#fff;
}
.leftFrame{
	border-right:1px solid #ddd; 
	border-bottom:1px solid #ddd;
}
.rightFrame{
	border-bottom:1px solid #ddd;
}
html{

}
body{
	
	margin:0;
}
.userTitle{
	margin:0;
	text-align:center;
	font-size:18px;
	height:40px;
	line-height:40px;
}